@media (min-width: 1367px){
.container
{
width: 1250px;
}
}
@media (min-width: 1200px) and (max-width: 1366px)
{
.container
{
/* width: 1250px; */
}

}/*End of*/}
/*1366px*/
@media (min-width: 1025px) and (max-width: 1199px)
{
.container
{
width: 970px;
}


}/*End of**1025px*/
@media (min-width: 992px) and (max-width: 1199px)
{
.container
{
width: 970px;
}

.tab_sec_c1 h3 {
  
    font-size: 20px;
}
.form_sec .form-control {
    width: 390px;

}
.tab_sec_c1 p {
    font-size: 16px;
}
a.tab_bg_one, a.tab_bg_two, a.tab_bg_three{ width:300px; background-size:100% !important;}
.section_four .nav-tabs>li>a {
    padding: 3px 0px;
}
.nav>li>a {
    /* padding: 10px 6px;
	font-size:15px */
}
.section_one ul {
    margin-left: 0px;
    margin-top: -17px;
}

.navbar-default .navbar-collapse{float:right;}

.section_three .nav>li>a {
    padding: 24px 9px;
}
.section_three .nav>li>a {padding: 24px 9px;}
li.pad_v2 {padding-left: 0px !Important;}
img {max-width: 100%;}
.circle_sec_C1 {position: relative;right: 0px;}
.section_seven p {padding: 5px 10px;text-align: center;}
.section_seven .col-md-2 {width: 16.66666667%;padding: 5px;}
/* .section_four {padding: 0px 0px 25px 0px;} */
.section_six {padding-left: 0px;}
.myreportsBtn{left:56px;}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}
.myreportsList {
    min-height: 353px;
}
.myreports {
    min-height: 340px;
}
/*Dashboard Header */
#pointsval {width: 100%  !important;padding: 0px !important;}
.section_three .nav>li>a{padding: 20px 13px !important;font-size: 17px !important;}
#SkillKit .tab_sec_c1 .col-md-3 {width:25%;}
/* Menu */
/* .section_three ul {margin-left: 60px;} */
.slider{height: 54% !important;}
#navbar1{margin:0px;}
/* calender */
.calc_L ul{margin:0px;}
/* Game Popup Overlay */
.fancybox-overlay {z-index: 999999 !important;}
.pad_v1{display:none  !important;}
/* .starinactive{width:23px !important;} */
.socialmedia {margin-bottom: 20px;}
/* Report start*/
.nav-tabs > li:nth-child(4n+1):hover {
  border-color: #80c3d2;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+2):hover {
  border-color: #ff8454;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+3):hover {
  border-color: #f0cd3a;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+4):hover {
  border-color: #88c87b;background-color: transparent; transform: scaleX(1);
}
.nav-tabs > li:nth-child(4n+1):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+2):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+3):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+4):hover h3 {color:#000 !important;}

.nav-tabs>li.activereport:nth-child(4n+1){background-color: #80c3d2 !important;}
.nav-tabs>li.activereport:nth-child(4n+2){background-color: #ff8454 !important;}
.nav-tabs>li.activereport:nth-child(4n+3){background-color: #f0cd3a !important;}
.nav-tabs>li.activereport:nth-child(4n+4){background-color: #88c87b !important;}
.nav-tabs > li.activereport:nth-child(4n+1):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+2):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+3):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+4):hover h3 {color:#fff !important;}
.padbot6 {padding-bottom: 7px !important;}
#reportpage .nav-tabs > li a{margin: 0;}
#reportpage .col-sm-2{padding: 0;margin: 0;}
#puzzleh3{padding-bottom:62px !important;}
#settingsh3{padding-bottom:35px !important;}
#mybspih3{padding-bottom: 59px !important;}
#cperformh3 {padding-bottom: 35px !important;}
#myIndividual{padding-bottom:34px !important;}
#reportpage .nav>li:last-child>a{padding:10px 6px !important;}

/* Report End*/

}/*End of**992px*/

@media(min-width:767px) {
  
}

@media (min-width: 768px) and (max-width: 991px)
{
.container
{
width: 750px;
}
.form_sec .form-control {
    width: 290px;

}
.tab_sec_c1 h3 {
  
    font-size: 20px;
}
.tab_sec_c1 p {
    font-size: 16px;
}
a.tab_bg_one, a.tab_bg_two, a.tab_bg_three {
    width: 240px;
    background-size: 100% !important;
    font-size: 26px !important;
}
.foot_c4 h2 {
    color: #FFF;
    font-size: 17px;
}
.myreportsBtn{left:126px !important;}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}
.foot_c2 ul li {
    padding: 8px 0px;
}
.footer P {
    font-size: 11px;
}
.foot_menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 9px;
}
.foot_c4 ul li {

    font-size: 12px;
}

.section_four .nav-tabs>li>a {
    padding: 3px 0px;
}
.nav>li>a {
/*     padding: 10px 5px;
	font-size:9px */
}

.section_one ul {
    margin-left: 0px;
    margin-top: 30px;
}
.section_three .nav>li>a {
    padding: 24px 9px;
}
.section_three .nav>li>a {
    padding: 24px 9px;
	font-size: 18px;
}
li.pad_v2 {
    padding-left: 0px !Important;
}
img {
    max-width: 100%;
}
.circle_sec_C1 {
    position: relative;
    right: 0px;
}

.section_seven .col-md-2{ width:30%}
/* .section_four {
    padding: 0px 0px 25px 0px;
   
} */
.sec_in_L {
    margin-left: 0px;
}
/*
.section_three ul {
    margin-left: 45px;
} */
.slider{height:40.5% !important;}
.section_two p {
    font-size: 21px;
}
.section_seven p {
    padding-right: 0px;
    padding-top: 10px;
}
.section_six {
    padding-left: 0px;
}
}/*End of**768px*/

@media (max-width: 767px)
{
#footerpart .col-md-3 {/* width: 50%;padding: 0 3px;float: left; */}
#footerpart .socialmedia {margin-bottom:20px;}
.box_c1 {margin-bottom: 30px;}
.tab_sec_c1 .col-md-3 {width: 100%;padding: 0px 50px;}
/* #pointsval {padding: 0px 110px  !important;} */
.swal2-modal .swal2-content{font-size: 15px !important;font-weight: bold !important;}
.swal2-modal .swal2-buttonswrapper {margin-top: 30px;}
/* #pointsval {padding: 0px 10px 0px 110px !important} */
.mytheme h3{padding: 13px !important;}


.container{width: 100%;}
.menuSearch {display: none;}
.navbar-collapse {margin-top: 20px;}
.navbar-default .navbar-toggle {border-color: #203766;}
.navbar-toggle:focus {outline: 0;}
/*.navbar-toggle {
    margin-top: 16px;
    margin-right: 15px;
     margin-bottom: 8px;
    background-color: #203766;
    border: 1px solid transparent;
} */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #203766;
}

.section_one .nav>li:last-child>a {
    margin-top: 10px;
	width:300px;
	margin-left:10px
}
.section_four h2 {
    color: #000;
     text-align: center;
}
.tab_sec_c1 h3 {
    color: #ff6600;
    text-align: center;
}
.section_three .nav>li>a {
    position: relative;
    display: block;
    padding: 14px 10px;
}
.section_three .nav>li:last-child>a {
    margin-left: 0px;
}
.section_three ul {
    
    margin: 20px 29px !Important;
	padding-bottom:30px;
}
.navbar-nav{text-align:center;}

.navbar-default .navbar-nav>li>a {
    color: #FFF;text-align:center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #203766;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: inherit;
}
/* .section_three {z-index: 1;background-color:rgba(173, 45, 169, 0.89);} */

.main_sec {
    width: 100%;
}
.sec_in_L {
     margin-left: 0px; 
}
.section_two {
    height: inherit !important;
    background-image: none;
    width: 100%;
  /*   background-color: #92278f; */
  
}
.section_seven h2 {
    margin-bottom: 20px;
    padding-bottom: 0px;
}
img{max-width:100%}
.sec_in_sec {
    text-align: center;
    margin: 0px 0px 0px 0px;
    height: auto;
    background-image: none;
    border-bottom: 1px solid #FFF;
}.goodday{border:none !important;}
.sec_in1{border-bottom:none !important;}
/* .pricesaving{width:20% !important;right:0px !important;height: 12% !important;} */
#SkillKit .pricesaving {width: 17% !important;height: 14% !important;}
 .fancybox-overlay{z-index: 0 !important;}
.mid_sec {
     padding-top: 10px; 
}
.tab_sec_c1 .col-md-3 {
    width: 100%;
   
}
.boxnew2{margin-bottom:8px;}
.spaval{margin-left:35%;}
.puzzlescontent{    margin: 0px 7% 40px 7%;}
#dashboard_ajax{margin-top: 40px;}
.frmchildreg{padding-bottom: 0px;width: 100%;border-radius: inherit;}
#successmsg1{margin:0px;padding:0px;}
/* .section_four {
    padding: 0px 0px 25px 0px;
   
} */
.box_c1 {

    margin-bottom: 30px;
}
.circle_sec_C1 {
    position: relative;
    right: 0px;
}

.footer {
    height: auto;
    background-image: none;
    background-color: #000;
    padding: 20px 0px;
    text-align: center;
}
.foot_sec {
    margin-left: 0px;
}
.in_foot {
    width: 100%;
}
.form_sec .form-control {
    width: 100%;
}
.my_profile {
    background: #EDF1F4;
     padding: 0px 0px 25px 0px; 
}
.foot_c1 {
    background-image: none;
    padding: 20px 0px;
    height: auto;
	border-bottom:1px solid #FFF;
}
.foot_menu ul {
    margin-top: 0px;
}
.foot_c4 ul li {
    float: none;
}
.section_three .navbar-default {
    background-color: transparent;
    border-color: transparent !important;
}
.section_one .navbar-brand {
    float: left;
    height: auto;
    padding: 10px 15px;
}
.myreportsBtn{left:128px !important;}
.myreportsList{margin:0 0px 25px !important;}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}
#mythemepage .default{padding:18px !important;}

}/*End of**767px*/

@media (min-width: 320px) and (max-width: 480px)
{
	
.carousel.success .item p {
    font-size: 22px;
}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}

.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 48%;
    margin-right: 0;margin-bottom: 13px;
}


.bspicalender ul li {
    margin: 0 16px 10px 0;
}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #eaeadd !important;
    width: 97%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding: 17px 0 17px 17px;}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText { padding: 4px 0 0 9px;
    width: 41%;
    text-align: left;
    line-height: 19px;}
	.month{    margin: 0 6px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	

.award_sec {
/*     border: 4px solid #FE6700; */
margin: 0px auto;
    width:36%;
	    border-radius: 100%;
    height: 148px;
}



.section_six {
    padding-left: 0;
}
#puzzleh3 {padding-bottom: 5px !important;}	
	
}/*End of**480px*/
@media (max-width: 480px)
{
	.myreportsBtn{left:173px;}

a.tab_bg_three{
	width:330px;
	background-size: 100% !important;
}
a.tab_bg_two{
	width:330px;
	background-size: 100% !important;
}
a.tab_bg_one
{
	width:330px;
	background-size: 100% !important;
}
.section_one .nav>li:last-child>a {
    margin-top: 10px;
    width: 150px;
    margin-left: 10px;
}
}/*End of**320px*/
@media (max-width: 320px)
{
.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 48%;
    margin-right: 0;margin-bottom: 13px;
}
.month {
    float: left;
	}

.bspicalender ul li {
      margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 36px;
    height: 103px;
    text-align: center;     padding: 2px;
}
.bspicalender ul li span.dMiddle img{
    width: 85%;
}

.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 100%;
    height: 100%;
    padding: 11px;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding:5px 0 5px 5px;}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText {  padding: 10px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	
.section_six {
    padding-left: 0;
}
.award_sec {
    border: 4px solid #FE6700;
margin: 0px auto;
   width: 58%;
    border-radius: 100%;
    height: 151px;
}



	
		.myreportsBtn{left:87px;}
a.tab_bg_three{
	width:300px;
	background-size: 100% !important;
}
a.tab_bg_two{
	width:300px;
	background-size: 100% !important;
}
a.tab_bg_one
{
	width:300px;
	background-size: 100% !important;
}
}/*End of**320px*/

 @media only screen and (min-width: 600px) and (max-width: 767px) {
#reportpage .nav-tabs>li{width: 33.33%;padding: 0px;}
#puzzleh3{padding-bottom:8px !important;}
#mybspih3,#cperformh3 {padding-bottom: 6px !important;}
.carousel.success .item p {
    font-size: 22px;
}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}

.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 33%;
    margin-right: 0;margin-bottom: 13px;
}


.bspicalender ul li {
   margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 82px;
    height: 129px;
    text-align: center;
}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 97%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding:4px;}
.dMiddle, .dRight {
    float: none;
}
.dLeft {
    width: 100%;     margin: 0 4px 5px 0;
}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText { padding: 4px 0 0 9px;
    width: 41%;
    text-align: left;
    line-height: 19px;}
	.month{    margin: 0 6px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	

.section_seven div.col-xs-12 {
    width:29.7%;

}

.section_six {
    padding-left: 10px;
}
#BrainSkillsOn .tab_sec_c1 .col-md-3 {width:50% !important;}
#SkillKit .col-md-3 {width:50% !important;}
#pointsval {padding: 0px 55px 0px 85px  !important;}
#mythemepage .default{padding:5px !important;}
.reportdiv .col-12{margin-bottom:20px;}
}/*End of**640px*/

@media (min-width: 600px) and (max-width: 1024px)
{ /*sundar*/
	.award_sec {width:100% !important;}
	.days li.pad_txt {padding-top: 26px !important;}
/* 	#pointsval{padding: 0px 20px 0px 260px !important} */
}
@media (min-width: 414px) and (max-width: 736px) and (orientation : landscape)
{	.award_sec {width:80% !important;}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation : landscape)
{ /*sundar*/
	.award_sec {width: 101% !important;}
	#pointsval{padding: 0px 20px !important;}
	#mythemepage .default{padding:18px !important;}
	.user-menu-container .btn-group-vertical>a{padding: 32.5% !important; }
	}
}
 @media only screen and (min-width:768px) and (max-width:999px) {

.carousel.success .item p {
    font-size: 22px;
}
.my_profile, .contentInner{ 
padding:0px 0px 25px 0;
}

.skillsLeft, .skillsRight{width:100%; margin:0;text-align: left;}
	.skills { width: 94%;	    margin: 0 0 45px 15px;}
	.skillsRight ul li {
    width: 33%;
    margin-right: 0;margin-bottom: 13px;
}


.bspicalender ul li {
    margin: 0 5px 10px 0;
    width: 93px;
    background: none;
    height: 73px;
    border: 2px solid #fff;}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 98%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding: 17px 0 17px 17px;}
.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {
    width: 20%; padding:0 0 0 5px; float:left; } 
.leftText { padding-left:9px;
    text-align: left;
    line-height: 19px;}
	.month{    margin: 0 6px 0 0;}
	.calc_L{ background:none;}
.calc_L ul{margin: 0px 0;
    display: block;
    overflow: hidden;
    padding: 0;}
.circle_sec li.pad_v2 {
    padding-left: 0 !Important;
}	

.section_seven div.col-xs-12 {width:25%;}
.section_six {    padding-left: 0;}

/*Dashboard Header */
	#pointsval {width: 37%  !important;padding: 0px !important;}
/* Menu */
	.section_three .nav>li>a{padding: 20px 5px !important;font-size: 17px !important;}
	#navbar1{margin:0px;}	
/* Game Popup Overlay */
.fancybox-overlay {z-index: 999999 !important;}
.pad_v1{display:none  !important;}
.starinactive{width:23px !important;}
.socialmedia {margin-bottom: 20px;}
.days li.pad_txt {padding-top: 26px !important;}
.padbot6 {padding-bottom: 7px !important;}
#reportpage .nav-tabs > li a{margin: 0;}
#reportpage .col-sm-2{padding: 0;margin: 0;}
#puzzleh3{padding-bottom:62px !important;}
#settingsh3{padding-bottom:35px !important;}
#mybspih3{padding-bottom: 59px !important;}
#cperformh3 {padding-bottom: 35px !important;}
#reportpage .nav>li:last-child>a{padding:10px 6px !important;}
.award_sec {width: 73% !important;}
}/*End of**768px*/

@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait){
/* .days li.pad_txt {
    padding-top: 3px !important;
} */
div.user-menu-container{padding: 0px 25px;}
.award_sec {width:42%;}
.section_seven p {
    padding-right: 0;
}
.bspicalender ul li {
    margin: 0px 2px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 45px;
    height: 115px;
    text-align: center;
}
.bspicalender ul li {
   margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 42px;
    height: 129px;
    text-align: center;
}

.myBrainProfile h2 {
    padding: 0;
    margin: 0 0 25px 7px
}
.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
    background: #223a68;
    width: 94%;
    height: 100%;
    padding: 0px; margin:0 auto;
    margin-bottom: 20px;
}
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden;/*  padding:4px; */}
.dMiddle, .dRight {
    float: none;
}
.dLeft {
    width: 100%;     margin: 0 4px 5px 0;
}
.spaval h5{font-size: 21px;}
}


@media only screen and (min-width: 360px) and (max-width: 640px) {
	#puzzleh3{padding-bottom:34px !important;}
	#mybspih3,#cperformh3 {padding-bottom: 6px !important;}
	/* #pointsval {padding: 0px 88px !important;} */

}
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape){

.award_sec {
    width:84%;
}
.section_seven p {
    padding-right: 0;
}
.days li.pad_txt {
    padding-top: 20px !important;
}
.section_seven div.col-xs-12 {
    width: 32.7%;
    min-height: 226px;
}



 }
 
 
 @media screen and (device-width: 568px) and (orientation : landscape){

.award_sec {
    width: 96%;
}


 }

 
 @media only screen and (min-width: 414px) and (max-width: 736px) {
	#puzzleh3{padding-bottom:8px !important;}
	#mybspih3,#cperformh3 {padding-bottom: 6px !important;}
	/* theme */
	/* #mythemepage .default {padding: 17px !important;} */
	.myreports{padding:0px !important; min-height:0 !important; text-align: center;}
	.myreports h3 {padding: 0 !important;}
	/* .pricesaving {height: 13% !important;} */
	#SkillKit .pricesaving {height: 16% !important;}
}
 @media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
	 .frmchildreg{width:100%;}
.days li.pad_txt {
    padding-top: 26px !important;
}
.award_sec {width: 81%;}
.section_seven div.col-xs-12 {
    width: 31%;
}
/*Dashboard Header */
#pointsval {width: 100%  !important;padding: 0px !important;}
/* #mythemepage .default{padding:18px !important;} */
/* Menu */
.section_three .nav>li>a{padding: 20px 1px !important;font-size: 17px !important;}
#SkillKit .tab_sec_c1 .col-md-3 {width:25%;}
#navbar1{margin:0px;}
/* Game Popup Overlay */
.fancybox-overlay {z-index:9999999 !important;}
.pad_v1{display:none  !important;}
/* .starinactive{width:23px !important;} */
.socialmedia {margin-bottom: 20px;}
/* .pricesaving {width: 35% !important;height: 14% !important;} */
/* Report start*/
.nav-tabs > li:nth-child(4n+1):hover {border-color: #80c3d2;background-color: transparent !important;}
.nav-tabs > li:nth-child(4n+2):hover {border-color: #ff8454;background-color: transparent !important;}
.nav-tabs > li:nth-child(4n+3):hover {border-color: #f0cd3a;background-color: transparent !important;}
.nav-tabs > li:nth-child(4n+4):hover {border-color: #88c87b;background-color: transparent !important;}

.nav-tabs > li:nth-child(4n+1):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+2):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+3):hover h3 {color:#000 !important;}
.nav-tabs > li:nth-child(4n+4):hover h3 {color:#000 !important;}

.nav-tabs>li.activereport:nth-child(4n+1){background-color: #80c3d2 !important;}
.nav-tabs>li.activereport:nth-child(4n+2){background-color: #ff8454 !important;}
.nav-tabs>li.activereport:nth-child(4n+3){background-color: #f0cd3a !important;}
.nav-tabs>li.activereport:nth-child(4n+4){background-color: #88c87b !important;}
.nav-tabs > li.activereport:nth-child(4n+1):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+2):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+3):hover h3 {color:#fff !important;}
.nav-tabs > li.activereport:nth-child(4n+4):hover h3 {color:#fff !important;}
#mybspih3{margin:20px;}

/* Report End*/
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px)  and (orientation : landscape){
/* .days li.pad_txt {padding-top: 0px !important;} */
 }
 
 
  @media screen and (device-width: 568px) and (orientation : landscape){

.award_sec {
    width: 96%;
}

.bspiCalenderTop {
    width: 100%;
}
.bspicalender {
 background: #223a68;
    width: 97%;
    height: 100%;
    padding: 11px; margin:0 auto;
    margin-bottom: 20px;

 }
.bspicalender ul li {
    margin: 0 5px 10px 0;
    border: 2px solid #fff;
    background: none;
    width: 68px;
    height: 119px;
    text-align: center;
    padding: 6px 2px 2px 2px;
}
.skills {
    width: 100%;}
 .skillsRight ul li {
    list-style: none;
    float: left;
    margin-right: 35px;
    padding: 0 0 13px 11px;
}

.skillsLeft {

    margin: 0 60px 0 13px;}

.bspiCalender h2{    margin-left: 10px;}	
.dMiddle, .dRight {
    float: none;
}
.dLeft {
    width: 100%;     margin: 0 4px 5px 0;
}
.leftText {
    float: left;
    font-size: 18px;
    padding: 15px 0 0 17px;
    letter-spacing: 1px;
    width: 45%;
    text-align: left;
	
}
.month{    margin-right: 8px;}
	
.bspicalender ul{border:2px solid #fff; display:block; overflow:hidden; padding:7px 0 7px 7px;}
	
	.myBrainProfileIn {width: 100%;}
.myBrainProfileIn .memory, .myBrainProfileIn .visual, .myBrainProfileIn .focus, .myBrainProfileIn .problem, .myBrainProfileIn .linguistics {
    width: 100%;
}
.myBrainProfileIn .cbox {
    width: 85%;
}
.myBrainProfileIn .col-md-2 span {
    width: 100%;
}
.myBrainProfileIn ul li {
    width: 20%;
    float: left;
	    line-height: 16px;
    font-size: 14px;
    margin-left: 0;
}
.myBrainProfileIn .col-md-2 {width: 20%; padding:0 0 0 5px; float:left; } }
 @media( max-width : 585px ){
.board {width: 96% !important;height:auto !important;margin:0 auto;}
.nav-tabs>li{width: 100%;}
	.nav-tabs > li a {
		width: 100%;
		height: 100%;
		line-height: 50px;
		margin: 5px auto;
		padding: 0;
	}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
.tab-content .head{font-size:20px;}
.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}
.btn-outline-rounded {padding:12px 20px;}
.nav-tabs > li img {border-radius: 15%;width: 14% !important;}
#mybspih3{padding-bottom: 6px !important;}
#cperformh3{padding-bottom: 6px !important;	}
.padbot6{padding-bottom: 6px !important;}
.reportdiv .col-12{margin-bottom:20px;}
}

@media screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape){
	.myreportsBtn {left: 116px !important;}
	#SkillKit .pricesaving {height: 14% !important;}
	#mythemepage .themelist{width:50%}
}
@media only screen and (max-width: 767px) and (min-width: 600px){
#footerpart .col-sm-6 {width: 50%;float: left;padding: 10px 20px 19px 50px !important;}
}
@media only screen and (max-width: 667px) and (min-width: 375px) and (orientation : landscape){
.award_sec {width: 77% !important;}.days li.pad_txt {padding-top: 26px !important;}
#BrainSkillsOn .tab_sec_c1 .col-md-3 {width:50%;padding: 0px 50px;}
#BrainSkillsOn .pricesaving {width: 20% !important;right: 0px !important;height: 11% !important;}
#SkillKit .pricesaving {width: 20% !important; height: 14% !important;}	
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	/* .pricesaving {width: 33% !important; height: 14% !important;} */
	#SkillKit .pricesaving {width: 32% !important; height: 17% !important;}	
	.bspicalender {width: 100% !important;}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
	.award_sec {width:50% !important;margin: 35px 20px 0 75px !important;}/* .days li.pad_txt {padding-top:0px !important;} */

	.bspicalender {width: 100% !important;padding: 45px 0 45px 45px !important;	}
	.user-menu-container .btn-group-vertical>a{padding: 32.5% !important; }
	#mythemepage .default {padding:18px !important;}
	 .section_three .nav>li>a {padding: 20px 12px !important;} 
	.slider{height:30% !important}
}
@media (min-width: 1366px) and (max-width: 1024px) and (orientation: landscape) {
	.pricesaving {width: 29% !important; height: 16% !important;}
	 .myreportsBtn{left: 80px !important;}
	  
}
@media (min-width: 600px) and (max-width: 1000px) and (orientation: portrait) {
	.bspicalender ul li {width: 73px;}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.bspicalender ul li {width: 93px;}
}
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
.bspicalender ul li {width: 110px;}
}
