

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 25px;
  /* max-width: 350px; */
  width: 100% !important;
  /* background-color: #f5f3f9; */
  /* margin: 0 auto; */
  border-radius: 2px;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); */
  overflow: hidden;
  color: #8117af;
 }
 @media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
   body.modal-open {position: fixed;}
} 

.loginmodal-container h1 {
  color: #000000;
  text-align: center;
  font-size: 1.8em;
  border-bottom: 1px solid #92278f;
  padding-bottom: 13px;
 }

.loginmodal-container input[type=submit],.loginmodal-container input[type=button] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
 border-radius: 15px;
}

.loginmodal-container input[type=text], .loginmodal-container input[type=password], input[type=password], select  {
  height: 44px;
  font-size: 22px;
  width:100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.loginmodal-container .input-group-addon:last-child {
    border-left: 0;
    float: right;
    height: 44px;
}
.loginmodal-container .input-group-addon {
    padding: 13px 13px 13px 29px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #f92c8b;
    border: 1px solid #ccc;
    border-radius: 1px;
}
.loginmodal-container .glyphicon-user:before,.glyphicon-lock:before
{    float: right;}

.btn-primary:hover{background-color: #f92c8b;}
.loginmodal-container .glyphicon{top: 0px;}

.loginmodal-container input[type=text]:hover, .loginmodal-container input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
   font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
   font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


.wow{ text-align:center; }
.spanRememberme{position:absolute;}
div#errormsg{font-size: 14px;color: red;}
div#childerrormsg{font-size: 14px;color: red;}
div.errormsg{font-size: 18px;color: red;}
.secondActive
	{
		text-decoration: none;
    background-color: #FFF;
    color: #000;
    -moz-box-shadow: inset 0px 0px 8px 0px #888;
    -webkit-box-shadow: inset 0px 0px 8px 0px #888;
    box-shadow: inset 0px 0px 8px 0px #888;
	}
.secondActive a{ color: #777;}
.gameBtnInactive{    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #8c8c8c !important;
}

.gold-inactive
{
	height: 60px;
    background-image: url(../images/dummytrophy.png);
    width: 47px;
    float: left;
    position: relative;
    top: -11px;
    left: 3px;
    background-repeat: no-repeat;
	background-size: 100%;
}
.platinum-inactive
{
	height: 60px;
    background-image: url(../images/dummytrophy.png);
    width: 47px;
    float: left;
    position: relative;
    top: 30px;
    left: 12px;
    background-repeat: no-repeat;
	background-size: 100%;
}
.silver-inactive
{
	height: 60px;
    background-image: url(../images/dummytrophy.png);
    width: 47px;
    float: left;
    position: relative;
    top: 30px;
    left: -6px;
    background-repeat: no-repeat;
	background-size: 100%;
}

.sec_in_sec{ margin:0px !important;}


 @media only screen and (min-width:768px) and (max-width:1024px) {
	.bspicalender{width:100% !important}
	.bspiCalenderTop{width:100% !important}
 } 
 @media (max-width: 1026px) and (min-width: 768px)
 {
.tab_sec_c1 h3 {
    font-size: 18px !important;
}
 }
/*@media (max-width: 480px) and (min-width: 320px)
 {
.award_sec {width: 46%;
}
} 
@media (max-width: 560px) and (min-width: 320px)
 {
.award_sec {width: 54%;
}
}
@media (max-width: 670px) and (min-width: 375px)
 {
.award_sec {width: 46%;
}
} 
*/
.trophy-SilverBig span{
    top: -50px;
    position: relative;
}
	
.trophy-SilverBig {
    background: url(../images/trophy-BronzeBig.gif) no-repeat center;
    background-size: 50%;
    float: left;
}
.trophy-GoldBig span{
    top: -50px;
    position: relative;
}
	
.trophy-GoldBig {
    background: url(../images/trophy-SilverBig.gif) no-repeat center;
    background-size: 50%;
    float: left;
}
.trophy-DiamondBig span{
    top: -50px;
    position: relative;
}
	
.trophy-DiamondBig {
    background: url(../images/trophy-GoldBig.gif) no-repeat center;
    background-size: 50%;
    float: left;
}


.trophieslist {
	width: 33%;
    height: 125px;
    font-size: 30px;
    color: #ff6600;
    text-align: center;
	font-weight:bold
    margin: 0 auto;
}


.mytrophies {
    background: #fbfbfd;
    box-shadow: 1px 1px 9px 0px #dcdde2;
    /* padding: 15px 15px 58px;
    margin: 0 0 25px; */
    
}

@media (max-width: 991px) and (min-width: 768px)
{
.tab_sec_c1 p {
    font-size: 12px !important;
}
}


.mB50{
  margin-bottom:50px !important;
}

.multiselect{min-width: 160px;background-color: #92278f;
    color: #fff;
    font-size: 20px;
    padding: 0;font-weight: 400;    text-transform: uppercase;
    letter-spacing: 3px;}
.open>.dropdown-menu {
   background-color: #f0cd3a;
}
.open>.dropdown-menu  a{
   color: #fff;
}.open>.dropdown-menu  li:hover{
      color: #223a68 !important;
    
}.open>.dropdown-menu  li{
        /*  margin-left: 10px;*/
        border-bottom: 1px solid #fff
}.open>.dropdown-menu  a:hover{
      color: #223a68 !important;
    
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #223a68 !important;
    text-decoration: none;
    background-color: #fff !important;
    outline: 0;
}

  button.btn.btn-default.Search {
	      padding: 2px 12px;
		  font-size: 20px;
    background: #FF6600;
    color: #FFF;
    border-radius: 0px;
}



.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
table thead th {
    background-color: rgb(208,234,232);
    text-align: center;
}
table.dataTable, table.dataTable th, table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
}
.table-bordered {
    border: 1px solid #ddd;
}
table {
    background-color: transparent;
}
.table-striped>tbody>tr:nth-child(odd) {
    background-color: #f9f9f9;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
}
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: bold;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table tbody td {
    text-align: center !important;
} table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
.noPadL{padding: 0px;}

#header
{	
	background-color: #8117af;
    width: 100%;
    background-position: top center;
    //background-color: transparent;
    position: relative;
	padding:0;
	box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    color: #000;
}

.companyaddress
{
	line-height:38px;
}


.btn{font-size: 22px;}
.alignleft {
    text-align: center;
    border: 1px solid;
    padding: 20px;
    margin: 2px;
	width: 32.333333%;
}
.tagline1{background-color: rgba(141,198,63, .9);color: #fff;}
.tagline2{background-color: rgba(146,39,143, .9);color: #fff;}
.tagline3{background-color: rgba(241,109,124, .9);color: #fff;}


.commonpadding{padding-top:10px;}
.leftalign{float: left;padding-right: 26px;}


.navbar-nav>li>.dropdown-menu {  margin: 0;}
.avatar{position:relative;}
.photoicon{position:absolute; bottom:5px; right:0;}

.commonpadding{padding-top:10px;}

.socialmedia {background: none !important;padding: 0 !important;}
a {color: #fff;text-decoration: none;}
.leftalign{float: left;padding-right: 21px;}

.btn{font-size:20px;padding:4px 25px;}
.btnactive span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnactive span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnactive:hover span {
  padding-right: 25px;
  border-radius:5px;
}

.btnactive:hover span:after {
  opacity: 1;
  right: 0;
   border-radius:5px;
}

/*------------------------base code---------------------------*/
/*base code*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes bounceIn {
  0%, 100%, 20%, 40%, 60%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03)
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
@keyframes bounceIn {
  0%, 100%, 20%, 40%, 60%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1)
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    -ms-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03)
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    -ms-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.Trophies .bounceIn{margin-bottom:25px;}

/*-------------  Button Glowing Effect ------------- */

@-webkit-keyframes glowing {
  0% { background-color: #ff6600; -webkit-box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; -webkit-box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; -webkit-box-shadow: 0 0 3px #ff6600; }
}

@-moz-keyframes glowing {
  0% { background-color: #ff6600; -moz-box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; -moz-box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; -moz-box-shadow: 0 0 3px #ff6600; }
}

@-o-keyframes glowing {
  0% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
}

@keyframes glowing {
  0% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
}

.btnactive {
  /* -webkit-animation: glowing 2000ms infinite;
  -moz-animation: glowing 2000ms infinite;
  -o-animation: glowing 2000ms infinite;
  animation: glowing 2000ms infinite; */
}

@-webkit-keyframes highlight {
  0% { background-color: #ff6600; -webkit-box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; -webkit-box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; -webkit-box-shadow: 0 0 3px #ff6600; }
}

@-moz-keyframes highlight {
  0% { background-color: #ff6600; -moz-box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; -moz-box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; -moz-box-shadow: 0 0 3px #ff6600; }
}

@-o-keyframes highlight {
  0% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
}

@keyframes highlight {
  0% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
  50% { background-color: #ffc000; box-shadow: 0 0 40px #ffc000; }
  100% { background-color: #ff6600; box-shadow: 0 0 3px #ff6600; }
}

.menuhighlight {
  -webkit-animation: highlight 2000ms infinite;
  -moz-animation: highlight 2000ms infinite;
  -o-animation: highlight 2000ms infinite;
  animation: highlight 2000ms infinite;
  color:#fff !important;
}

.btn-primary{color: #000;background-color: ##286090;border-color: #fff;}
.myreportsList{position:relative; text-align:center; min-height:307px;     margin: 0 35px 25px;}
.myreports{background:#fbfbfd; box-shadow: 1px 1px 9px 0px #dcdde2; padding: 15px 15px 65px; min-height:270px;}

.myreportsBtn{background:none; color:#fff; display:inline-block; padding:6px 25px; /* left: 75px; */ font-weight:300; position: absolute;  bottom:0; font-size: 20px; border-radius:5px;}


/*---------- Zoom IN ------------*/
/*the animation definition*/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}
#loadingimage
{
	position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background:#151928 url(../images/ajax-page-loader.gif) 50% 70% no-repeat;
    opacity: 0.8;
	background-size: 60px;
}
#toppersloadingimage
{
	position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background:#151928 url(../images/ajax-page-loader.gif) 50% 70% no-repeat;
    opacity: 0.8;
	background-size: 60px;
}
.supertheme{background-color:#ffc000;}
.themelist {margin:0;padding:10px;text-align:center;}
#mythemepage .themelist{margin:0 0 25px 0;}
#mythemepage .heading{border: 1px solid;padding: 5px;background: #d37909;color: #fff;}
.btnactivered {background: red;}
.btnactivegreen {background: green;}
/* #mythemepage .default{padding:20px;} */ 
.mytheme{background: #fbfbfd;box-shadow: 1px 1px 9px 0px #dcdde2;/* padding: 15px 15px 65px; */min-height: 250px;text-align: center;}
.mytheme h3{padding:0px;margin:0px;}
 #header { z-index:999 !important;}
 .modal-open .modal{    z-index: 999999;	}
 .fancybox-overlay{z-index: 999999;}
 #primary-menu{font-family:'Roboto';}
 
.container .form-group label.error{color:red;font-size:15px;float: inherit;}
label.error{color:red;font-size:15px;float: inherit;}
#pwdmsg {float: inherit;}
/* .registrationarea{background: linear-gradient(180deg,#e9eae3,#ddd);} */
.terms .alterLi {
    background: #f3f3f3;
}

.terms ul li {
    padding: 10px 20px 20px 20px;
    overflow: hidden;
    line-height: 18px;
}

.terms ul li span {
    border: 1px solid #dcdcdc;
    background: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    display: block;
    line-height: 32px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.terms ul li p {
    color: black;
    float: left;
    width: 95%;
}

.innerContainer {
    padding: 3% 0 8% 0;
    overflow: hidden;
}

.innerContainer p {
	color: black;
}

.privacy ul li {
    border-bottom: 2px solid #e4e5e5;
    padding: 15px 0 10px 0;
}

.tabs1 {
    width: 100%;
    display: inline-block;
}

.tab1-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab1-links li.active {
    background: #92278f;
    padding-top: 7px;
    margin-top: -7px;
    color: #92278f;
}

.tab1-links li.active a, .tab1-links li.active a span {
    color: #fff;
}

.tab1-links a {
    padding: 9px 20px;
    display: inline-block;
    font-size: 15px;
    color: #404040;
}

.tab1-links li {
    float: left;
    list-style: none;
    border-collapse: collapse;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.tabs1 #cssmenu {
    padding: 25px;
}

#cssmenu, #cssmenu h2 {
    font-weight: 500;
}

#cssmenu ul, #cssmenu li, #cssmenu a {
    position: relative;
}

#cssmenu > ul > li {
    background: #f8f8f8;
}

#cssmenu > ul > li.has-sub > a span {
    background: url(../images/icon_plus.png) 98% center no-repeat;
}
#cssmenu > ul > li > a > span {
    display: block;
    padding: 12px 10px;
}

.tabs1 #cssmenu ul ul {
    padding: 2% 2% 1% 2%;
}

#cssmenu ul ul {
    display: none;
    background: #fff;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    padding: 3% 0 1%;
    overflow: hidden;
}

.has-sub span h3 { color:#92278f; }

.tab1-content {
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    background: #fff;
    border-top: 4px solid #92278f;
	margin-top: -10px;
}

#Children_policy { color:#92278f; }
.privacy h3 { color:#92278f; }

.logSubmit { margin-top: 5px;	}

.termslink {     color: #92278f;
    text-decoration: underline;
    font-weight: bold;}
@media (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
	 .myreportsBtn{left: 80px !important;}
}
#resultsall::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #5d535f;
	border-radius: 10px;
}

#resultsall::-webkit-scrollbar
{
	width: 10px;
	background-color: #5d535f;
}

#resultsall::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-color: #fff;
}

#resultsmine::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #5d535f;
	border-radius: 10px;
}

#resultsmine::-webkit-scrollbar
{
	width: 10px;
	background-color: #5d535f;
}

#resultsmine::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-color: #fff;
}
.loginoverlay{background-color: #AAA;padding:0;margin:0px}
.loginoverlay .nopad{padding:0;margin:0px}
.loginoverlay .reg{background:#2874f0;}

.reg-container{
	float: left;
    width: 40%;
    padding:0px;
   height: 350px;
	 /* background:#f05217; */
	text-align: center; 
	overflow: hidden;
}
.gifclass
{
	/* background:url(../images/banner/Login-gif.gif) !important; */
}
.reg-inc{padding;10px;}
.reg-inc h4{color:#fff;}
.reg-inc span{
    display:inline-block;
	border: 1px solid;
    padding: 10px;
}
#login-modal .login-container{
	float: right;
    width: 60%; 
    height: 350px;
    background: #fff;
    padding: 20px;
}
#Child-login-modal .login-container{
	float: left;
	width: 60%;
    height: 350px;
    background: #fff;
    padding: 20px;
}
.unametxt{border: none !important;border-bottom: 1px solid #d9d9d9 !important;}
.pwdtxt{border: none !important;border-bottom: 1px solid #d9d9d9 !important;}

.unametxt:hover{border: none !important;border-bottom: 1px solid #d9d9d9 !important;}
.pwdtxt:hover{border: none !important;border-bottom: 1px solid #d9d9d9 !important;}

.loginmodal-container h4 {
  border-bottom: 1px solid #ccc;
    text-align: center;
    padding-bottom: 5px;
	font-size:25px;     color:#f92c8b;
 }
 
 .reg-inc span:hover
 {
	background: #fff;
    color: #f05217; 
 }
 
@media only screen and (min-width:300px) and (max-width:700px) {
	 #login-modal .modal-dialog{
		width: auto !important;
		position: absolute;
		right: 0;
		left: 0;
		margin: 10px !important;
	}
	#primary-menu{width: 100%;background: #8117af;}
#Child-login-modal svg{right: 15px;}
.loginmodal-container{padding: 10px;}
#Child-login-modal .login-container{width: 55%;padding: 2px;/* height: 300px; */}
.reg-container{width: 45%;}
.reg-container img{height: inherit;}
}
@media only screen and (min-width:300px) and (max-width:760px) {
	.headerarea {height: 150px !important;}.logo{position: relative !important;}
	
}
@media only screen and (min-width:300px) and (max-width:760px) and (orientation: landscape){
.reg-container img{height: 350px;}
}
.section_two:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    top: 100%;
    background-size: 14px 100%;
    background-position: 50%;
    z-index: 2;
}
.section_three:before {
    background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #ffffff), color-stop(0.25, #ffffff));
    background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%);
}
.headerarea{height:50px;}
/* .headerarea:after{
	content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 24px;
    top: 100%;
    background-size: contain;
    background-position: 50%;
   /*  z-index: 1; 
	background-image: url(../images/banner/designpattern.png);
} */
.headerarea:before{
	
	content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    top: 100%;
    background-size:contain;
    background-position: 50%;
    /* z-index: 2; */
	background-image: url(../images/banner/designpattern.png) ;
}
.logo{padding-top: 0px;position: absolute;text-align: center;}
.msgicon a:hover{color:#ffd900;}
#child-form-login label{font-size: 16px;}
.btn-primary {background-color: #00cdfc;color: #fff;border-color: #ffffff;}
#child-form-login .close{opacity: .8;}