@font-face {
  font-family: 'Rancho';
   font-weight: 400;
  src: local('Cardo'), url('../fonts/Rancho-Regular.ttf') format('truetype');
  
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Rancho' !important;
   /*  font-weight: 400; */
    font-size: 18px;
    line-height: 26px;
    color: #4e4e4f;
    background-color: #fff;
}

li {
    list-style: none;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
     font-family: 'Rancho';
}

h2 {
    font-size: 38px;
    font-weight: 400;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
	color:#ff6600;
}



h3 {
    font-weight: 400;
    font-size: 25px;
}

h4,
.h4 {
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
}

h5,
.h5 {
    font-size: 22px;
    font-weight: 400;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.toppercontent{font-size: 20px;font-family: 'Rancho';}
.section_one{	
height: 102px;
background-image: url(../images/topBg.png);
width: 100%;
background-position: top center;
background-repeat: no-repeat;
position: relative;
background-color: transparent;
}

.section_one ul{ margin-left:40px; margin-top:30px;}
 .nav>li>a {
    position: relative;
    display: block;
	padding: 5px 15px;
    font-size: 18px;
    font-family: 'Rancho';
    color: #010101;
	letter-spacing:1px;
	color:#8117af;
	line-height: 25px;
	text-align: center;
	background: #fff;
    border-radius: 5px;
    margin: 5px;
}
.nav>li>a:hover {
    /* border: 1px solid #fff !important; */
	background: #f92c8b !important;
    color: #fff !important;
    border-bottom: 2px solid #0049d3;
    text-decoration: none !important;
}

.nav>li:last-child>a {
   /* margin-right: 0px;
    border: 1px solid #BBB;
     padding: 0px 4px; 
    margin-top: 10px;*/
}
.section_two{	
height: 129px;
/* background-image: url(../images/yellowBg.png); */
width: 100%;
background-position: top center;
background-repeat: no-repeat;
position: relative;
/* background-color: transparent; */
color:#FFF;
overflow:hidden;
}
.section_two
{
	/* background:#1e88e5;	 
	background:#1d86b0;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    color: #FFF;
    overflow: hidden;*/
}
.clear_both{ clear:both;}
.navbar-default {

    position: relative;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: transparent;
        border-color: none !important;
}
#bspivalue
{
/* 	width: 25%; 
    float: left;*/
    padding: 0px 15px;
    text-align: center;
    color: #fdec09;
    font-size: 24px;
    font-weight: bold;
}

.spaval{float:left;}
#pointsval img{float:left;}
.section_two p {
    font-size: 24px;
        color: #fdec09;
	 font-family: 'Phenomena-Light';
	     line-height: 28px;
		 font-weight: bold;
		 padding-top: 10px;
}
.mid_sec {
    padding-top: 10px;
}
.sec_in_sec {
    text-align: center;
    margin: 10px 0px 10px 0px;
    height: 117px;
    background-image: url(../images/line-2.png);
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    padding-top: 12px;
}
.sec_in1{background-image: none;}
.sec_in_L {
    margin-left: 50px;
}
.sec_in_L  ul{
    margin:0px; padding:0px;	
}
.sec_in_L  ul li{
    padding:0px;	
	list-style:none;
	display:inline-block;
}
li.pad_v1 {
    padding-left: 20px !important;
   /*  position: relative;
    top: 14px; */
}
    
.main_sec{ width:31%}
.block{ color:#000; font-size:30px;  font-family: 'Phenomena-Bold';}

.section_three .nav>li>a {
    position: relative;
    display: block;
    padding: 22px 30px;
    font-size:18px;
    font-family: 'Roboto';
    color: #FFF;
	letter-spacing:1px;
	border:1px solid #f4f4f4;
}

/* .section_three .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #FFF;
	
} */
.section_three .nav>li:last-child>a {
	position: relative;
    display: block;
    padding: 22px 20px;
    font-size: 18px;
    font-family: 'Roboto';
    color: #000;
    letter-spacing: 1px;
	margin:0px;
	border:1px solid #f4f4f4;
} 
.section_three .nav>li>a:focus, .section_three .nav>li>a:hover {
    text-decoration: none;
   /*  background-color: #FFF; */
	color:#fff;
	/* -moz-box-shadow: inset 0px 0px 8px 0px #888;
-webkit-box-shadow: inset 0px 0px 8px 0px #888;
box-shadow: inset 0px 0px 8px 0px #888; */
}
.section_three ul {
    margin-left:140px;
}
.section_four{ 
background:#fff; 
/* padding:0px 0px 25px 60px;
 */width:100%;
position:relative;
text-align:center;
    top: -15px;

}
.section_four h2 {
    color: #ff6600;
    text-align: left;
    font-size: 38px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 15px;
}
 .section_four .nav-tabs>li>a {
    margin-right: 0px;
    border: 0px;
    background: transparent;
    font-size: 30px;
    color: #FFF;
    padding: 10px 0px;
    border-radius: 0px;
 font-weight:400;
 

}

 .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    

}
 .panel {  
    border: 0px solid transparent;   
}
 .nav-tabs>li {
    float: left;
    margin-bottom: 0px;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
   background-color: transparent;
    border: 0px solid #ddd;
    color:#ff6600;

   
}

.panel-default>.panel-heading {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0px solid #ddd;
}
a.accordion-toggle {
    font-size: 18px;
    text-decoration: none !important;

}
.panel-default>.panel-heading {
    color: #FFF;

    border-color: transparent;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
    color: #000 !important;
   
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: none;
	box-shadow: none;
}
.section_four .panel-body {
    padding: 0px;
}
.section_four .nav-tabs>li:last-child>a {
    margin-right: 0px;
    border: 0px solid #BBB;
    margin-top: 10px;
}
.tab_sec_c1 .col-md-3{ width:19.5%; padding-left:10px; padding-right:10px;}
#SkillKit .tab_sec_c1 .col-md-3{margin-bottom: 35px; }
.box_c1{ background:#FFF; padding:1px 0px 0px 0px;  -webkit-box-shadow: 1px 1px 5px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 5px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.tab_sec_c1 h3 {
    color: #ff6600;
    text-align: left;
    margin: 15px 0px 18px 0px;
    font-size: 30px;
}
.box_c1 h3 {
    color: #000;
    text-align: center;
    font-weight: 600px;
    margin: 13px 0px 22px 0px;
}
.tab_sec_c1 p{ font-size:20px;}
.btn.in_btn {
    background: #f1cd45;
    padding: 3px 30px;
    border: 0px;
    color: #8f2d06;
    font-size: 30px;
    position: relative;
    border-radius: 0px;
    top: 10px;
	border: 4px solid #a3005d;
    border-radius:20px;
}
.white_sec{
	background:#FFF;
 padding:0px 0px 0px 0px; 
 text-align:center;
}
.white_sec h2{ padding-bottom:0px; margin-bottom:0px;}
.section_five{ 
/* background-image: url(../images/banner/pattern01.jpg); */
background-color:#fafafa;
 text-align:center;
 
 
 color:#000;
}

.calc_L ul{ margin:0px 25px;}
.calc_L ul li{ padding:5px 10px; float:left;}
.calc_L p{ padding:5px 10px; display:inline-block; font-size:18px; color:#000;}
.circle_sec ul {margin: 40px 0px;    width: 77%;}
.circle_sec ul li{ float:left; padding:0px 20px 0px 0px;}
.circle_sec{ text-align:left}
.circle_sec p {
display: inline-block;
padding: 12px 5px;
font-size:18px;
/* color:#92278f; */color:#000;
}
li.pad_v2 {
    padding-left: 67px !Important;
}
.circle_sec_C1 img{ padding-top:40px; margin-bottom:60px;	}

.circle_sec_C1 {
    position: relative;
    right: 69px;
}
.calc_L h3 {
    display: inline-block;
    text-align: right;
    margin: 0px 0px 13px 0px;
    padding: 0px 0px;
    font-size: 20px;
}
.calc_L h2 {
    font-size: 25px;
    display: inline-block;
    text-align: left !important;
    margin: 0px;
    padding: 0px;
    width: 66%;
	color:#ff6600;
}
.section_six {
    background: #008c99;
    /* margin-top: -2px; */
    width: 100%;
    position: relative;
    padding: 10px 0;
    background-image: url(../images/home/schools-pg2.png);
    background-position: center center;
    background-size: cover;
}
.section_six h2{color:#fff;}
.trophies_L{ padding:10px 0px 20px 0px;}
.trophies_L p{ font-size:20px; color:#000; font-weight:400; }

.section_seven{ 
background:#fff ;
 padding: 10px 0px 30px 0px; 
 margin-top: -2px;
 text-align:center;
  /* background: url(http://peachclub.chimpgroup.com/wp-content/uploads/home-Team-Bg.jpg);  */
}
.section_seven p{ font-size:21px; padding:10px 0px;margin: 5px;color:#92278f;font-weight: bold;}
.award_sec {
    border: 1px solid #fff;
    border-radius: 50%;
    padding:28px 0px;
    text-align: center;
    width: 82%;
    margin: 35px 20px 0 20px;
    height: 140px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
.award_sec:hover {
-webkit-transform: rotate(360deg);
          transform: rotate(360deg);
	/* border-color:#da0404; */
	background:#008c99;
}
.cls59{background-color:#da0404;}
.cls60{background-color:#ffc000;}
.cls61{background-color:#92d050;}
.cls62{background-color:#ff6600;}
.cls63{background-color:#00b0f0;}

 .award_sec.bdr_c1{  border: 4px solid #067C02 !important;color:#fff;}
.award_sec.bdr_c2{  border: 4px solid #FACE53 !important; color:#fff;}  
.award_sec.bdr_c3{  border: 4px solid #BE0201 !important; color:#fff;} 
.award_sec.bdr_c4{  border: 4px solid #1D9DDE !important; color:#fff;} 

.platinum {
    height: 60px;
    background-image: url(../images/trophy-GoldBig.gif);
    width: 47px;
    float: left;
	position: relative;
    top: 20px;
	top: 30px;
    left: 12px;
	background-repeat: no-repeat;
    background-size: 100%;
}
.silver{
	 height: 60px;
    background-image: url(../images/trophy-BronzeBig.gif);
    width: 47px;
	float: left;
	position: relative;
	top: 30px;
	left:-6px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.gold {
    height: 60px;
    background-image: url(../images/trophy-SilverBig.gif);
    width: 47px;
    float: left;
    position: relative;
    top: -11px;
    left: 3px;
    background-repeat: no-repeat;
	background-size: 100%;
}

.footer {
    background: #92278f;
    /* height: 278px; */
    background-image: url(../images/livelinks/footer-im-1.png);
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    /* background-color: transparent; */
    padding: 80px 0 60px !important;
    background-size: cover;
}

.foot_sec{ margin-left:30px}
.foot_c1
{	
background-image: url(../images/divider_Footer.png);
width: 100%;
background-position: center right;
background-repeat: no-repeat;
position: relative;
background-color: transparent;
padding:10px 0px;
height:143px;
	
}
.footer span {
    display: block;
    padding: 0 0 5px;
}

.foot_c1 p {
    padding: 0px 0px 0px 0px;
    color: #FFF;
    font-size: 18px;
    line-height: 18px;
}
.in_foot{ width:27%}
.foot_c1 img{ margin-bottom:20px;}
.foot_c2 ul li{ padding:8px 20px}
.foot_c2 img{ margin-bottom:0px;}
.foot_c2 p {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    top: 1px;
}
.foot_menu ul{ margin-top:30px;}
.foot_menu li{padding:4px 20px;}
.foot_menu a{ text-decoration:none; color:#FFF; font-size: 18px; }
.foot_menu a:hover{ color:#FFBF00}
.foot_c4 h2{ color:#FFF; font-size:18px; margin-bottom:5px; padding-left: 20px; padding-bottom:5px;}

.foot_c4 ul li{ float:left; padding:5px 10px; color:#FFF; font-size: 18px;}
.foot_bot{ 
background:#1e242d ;
/*  padding: 5px 0px; 
 text-align:center; */

}
.foot_bot p{ text-align: center;
    margin: 0;
    padding: 15px 0;
    color: #fff;font-weight: normal;
    font-size: 16px;
    line-height: 22px;}
.section_seven h2{ margin-bottom:0px; padding-bottom:0px;color:#ff6600;}
p.pad_v4{ padding-left:0;}
a.tab_bg_one {
    background-image: url(../images/icon_BrainSkills.png) !important;
    background-repeat: no-repeat !important;
    height: 71px;
    width: 400px;
    margin-top: 10px;
	
}
a.tab_bg_one:focus {
    background-image: url(../images/icon_BrainSkillsOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_one:hover {
    background-image: url(../images/icon_BrainSkillsOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_two{
    background-image: url(../images/icon_Curriculum.png) !important;
    background-repeat: no-repeat !important;
    height: 71px;
    width: 400px;
    margin-top: 10px;
		
}

a.tab_bg_two:focus {
    background-image: url(../images/icon_CurriculumOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_two:hover {
    background-image: url(../images/icon_CurriculumOn.png) !important;
    background-repeat: no-repeat !important;	
}
a.tab_bg_three{
    background-image: url(../images/icon_LifeSkills.png) !important;
    background-repeat: no-repeat !important;
    height: 71px;
    width: 400px;
    margin-top: 10px ;		
}

a.tab_bg_three:focus {
    background-image: url(../images/icon_LifeSkillsOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_three:hover {
    background-image: url(../images/icon_LifeSkillsOn.png) !important;
    background-repeat: no-repeat !important;	
}
.month {
    padding: 70px 25px;
    width: 100%;
 
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}



.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #fff;
    text-align: center;
   padding: 4px 10px !important;
    float: left;
    border: 1px solid #F5F5F5;
	line-height: 15px;
	background:#92278f;
	 
}

 .days li.pad_txt {
    padding-top: 26px !important;
    padding-bottom: 1px !important;
    text-align: left !important;
}
 img.pad_calc {
    padding-left: 10px;
    text-align: left;
    position: relative;
    top: -6px;
 }

.weekdays li:hover{ background:#BEBEC0}

.days {
    padding: 10px 0;
    /* background: #eee; */
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size: 14px;
    color: #000;
    padding: 13.5px 10px !important;
    float: left;
    border: 1px solid #ccc;
	background:#ffffff;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
.clr_c1{ color:#FE5802}
.clr_c2{ color:#057E00}
/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width:14.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 13.5%;}
    .days li .active {padding: 2px;}
	.days li.pad_txt {
    padding-top: 0px !important;
}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

.my_profile h2, .contentInner h2 {
    color: #FF6600;
    text-align: left;
    font-size: 38px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 15px;
}
.heading_c1 {
    font-size: 25px;
    color: #CCC;
    text-align: left;
    margin-top: -12px;
    margin-left: 10px;
}
.contentInner{ 
background:#EDF1F4; 
padding:0px 0px 25px 60px;
width:100%;
position:relative;
text-align:center;
    top: -15px;

}
.form_sec .form-control {
    width: 490px;
    height: 54px;
    margin-bottom: 10px;
    font-size: 22px;
    border-radius: 0px;
	font-family: 'Phenomena-Light';
	
}

.form_sec .radio-inline {
    font-size: 18px;
    margin-bottom: 23px;
    margin-top: 17px;
    margin-right: 16px;
    color: #000;
}

.form_sec  input[type=checkbox], input[type=radio] {
    margin: 5px 0px 0;
    margin-top: 15px\9;
    line-height: normal;
	background:#000;
	width:18px;
	height:18px;
	 margin-left: -24px !important;
	
}


.form_sec select {
    background-image: url(../images/arrow-select.jpg);
    background-position: 96% 50%;
    background-repeat: no-repeat;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	margin-bottom:10px;

}

 .form_sec  textarea{ height:100px !important}

 .plan_bold {
    color: #FF6600;
    text-align: left;
    font-size: 30px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 28px;
}
.plan_top {
    color: #FF6600;
    text-align: left;
    font-size: 30px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 0px;
    padding-left: 20px;
	clear:both;
}

button.btn.btn-default.Submit {
    background: #FF6600;
    padding: 5px 0px 9px 0px;
    width: 237px;
    font-size: 23px;
    color: #FFF;
    margin-top: 20px;
    outline: none;
    border-radius: 0px;
}
button.btn.btn-default.Submit:hover{ background: #000;}

.myreportsList{position:relative; text-align:center; min-height:339px;     margin: 0 0 25px;}
.myreports h3{    padding:5% 35px;      margin: 0 0 12px; font-size:24px;min-height:80px;  }
.myreports{background:#fbfbfd; box-shadow: 1px 1px 9px 0px #dcdde2; padding: 15px 15px 65px; min-height:320px;}

.myreportsBtn:hover{color:#fff; text-decoration:none;}


.mytrophies h3{    padding:5% 35px;      margin: 0 0 0px; font-size:24px; }
.mytrophies{background:#fbfbfd; box-shadow: 1px 1px 9px 0px #dcdde2; /* padding: 15px 15px 58px; margin:0 0 25px; */ min-height:190px; }
.trophieslist{ width:162px; height:160px; font-size:42px; color:#ff6600; text-align:center; line-height:110px; margin:0 auto;}
.trophy-DiamondBig{background:url(../images/trophy-DiamondBig.png) no-repeat;}
.trophy-GoldBig{background:url(../images/trophy-GoldBig.png) no-repeat;}
.trophy-SilverBig{background:url(../images/trophy-SilverBig.png) no-repeat;}



/*today*/
.skills{padding:0; margin:0 0 45px 0; width:987px; display:block; overflow:hidden;}
.skillsLeft{padding:0; margin:0 60px 0 0; float:left; color:#ff6600; font-size:30px; }
.skillsRight{padding:10px 0 0 0; margin:0; float:left;}
.skillsRight ul{margin:0; padding:0;}
.skillsRight ul li{ list-style:none; float:left; margin-right:35px;}
.skillsRight ul li img{float:left; margin-right:5px;}
.skillsRight ul li span{ font-size:18px;}
/* .bspiCalenderTop{ padding:0; width:1140px; display:block; } */
.leftText{/* float:left; */ font-size:18px; padding:50px 0 0; letter-spacing:1px; }
.month{ padding:0px; float:right; width:260px; height:60px;text-align:center;     padding-right: 15px;}
.month span{font-size:30px; font-weight:500; color:#fff; }

.bspicalender{/* background:url(../images/calnder-outer-bg.jpg) no-repeat; */ width:80%; height:auto; padding:45px; margin-bottom:20px;background: #eaeadd !important;border: 1px solid #f5edf5;    margin: 0 auto;}
.bspicalender ul{padding:0; margin:0;}
.bspicalender ul li{padding:10px 10px 0; font-weight:500; margin:0 10px 10px 0; text-align:left; float:left; font-size:18px;  /* background:url(../images/date-bg.jpg) no-repeat; */ background: rgb(146, 39, 143) !important;width:118px; height:60px; }
.bspicalender ul li{padding:10px 10px 0; font-weight:500; margin:0 10px 10px 0; text-align:left; float:left; font-size:18px;  /* background:url(../images/date-bg.jpg) no-repeat; */ background: rgb(146, 39, 143);width:118px; height:60px; }
.bspicalender ul li label{display:block; font-weight:500;}
.dLeft{width:25px; margin:0 4px 0 0; float:left; text-align:center; line-height:18px; color:#fff;}
.dMiddle{    width: 36px; margin: 0 4px 0 0; float:left; text-align:center;}
.dRight{width:29px; float:left; text-align:center; color:#ffe3ac;}
.bspicalender .disapled{opacity: 0.5;}
.brainTrainedBottom{ text-align:center; color:#000; font-size:18px;}
.mLeft{float:left; padding:10px 0 0 18px;}
.mMiddle{float:left; text-align:center; width:160px;}
.mRight{float:right; padding:10px 18px 0 0;}
.myBrainProfile{padding:0; margin:0; display:block; overflow:hidden;}
.myBrainProfile h2{padding:0; margin:0;}
.myBrainProfileIn{width:850px; margin:0 auto; }
.myBrainProfileIn .col-md-2{width:162px; padding:0 0 0 35px; position: relative; height:355px; border-bottom:solid 5px #223a68; margin-bottom:10px;}
.myBrainProfileIn .col-md-2 span{padding:0; width:102px; display:block; font-size:19px;  margin:0 0 2px; border-bottom:solid 2px #ff6600;}
.myBrainProfileIn .cbox{position:absolute; bottom:0;}
.myBrainProfileIn .memory{ background:#018ca9; height:168px; width:102px;}
.myBrainProfileIn .visual {background:#9c9c9c;height:195px; width:102px;}
.myBrainProfileIn .focus {background:#e03142;height:336px; width:102px;}
.myBrainProfileIn .problem {background:#01004c;height:130px; width:102px;}
.myBrainProfileIn .linguistics {background:#f1b62c;height:166px; width:102px;}
.myBrainProfileIn .col-md-2 h3{position:absolute; bottom:-30px;}
.myBrainProfileIn  ul{padding:0; margin:0;}
.myBrainProfileIn  ul li{    width: 184px;  float: left; font-size:18px; margin-left: -16px;}
 #header { z-index:9999 !important;}
 /*  h2:after{
	 content: "";
    padding: 0px;
    max-width: 275px;
    width: 100%;
    display: inline-block;
    background-image: url(http://dtkidslife.wpengine.com/wp-content/themes/kidslife/images/footer_title_bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 14px;
	background-color: #4c7296;
} */
.bounce{transition: all 1s;}
.bounce:hover {transform: scale(1.1);}

 
 .ih-item.square {
    position: relative;
    /* width: 316px;
    height: 216px; */
    border: 4px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	border-radius: 50% !important;
}

.ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item a {
    color: #333;
}
.ih-item.square.effect6 {
    overflow: hidden;
}

.ih-item.square.effect6.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}

.ih-item.square.effect6.colored .info h3 {
    background: rgba(12, 34, 52, 0.6);
}

.ih-item.square.effect6 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.ih-item.square.effect6 .info {
    background: #fafafa;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.square.effect6 .info h3 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #fafafa;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item.square.effect6 .info p {
   /*  font-style: italic; */
    font-size: 20px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
    -webkit-transition: all 0.35s 0.1s linear;
    -moz-transition: all 0.35s 0.1s linear;
    transition: all 0.35s 0.1s linear;
}

.ih-item.square.effect6 a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.ih-item.square.effect6 a:hover .info {
    visibility: visible;
    opacity: 1;
}
.ih-item.square.effect6.from_top_and_bottom .info h3 {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.ih-item.square.effect6.from_top_and_bottom .info p {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.ih-item.square.effect6.from_top_and_bottom a:hover .info h3,
.ih-item.square.effect6.from_top_and_bottom a:hover .info p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

 /*new style*/
 .fieldlabel {
color: black;
    text-align: left;
    font-size: 22px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 0px;
    padding-left: 20px;
    clear: both;

}
footer {
   /* background-image: url(../images/home/footer2.png); */
   background-color: #8117af;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
	padding: 40px 0 40px; 
    color: #fff;
    font-size: 16px;
	
}
footer span{display:block; padding:0 0 5px;}
footer div.row > div + div{/*background:url(../images/line.png) no-repeat left; padding:10px 20px 19px 50px;*/}
footer div.row div:last-child{/*background:url(../images/line.png) no-repeat left; padding:15px 0 18px 30px;*/}

footer ul li{line-height:40px;}
footer ul li.callicon{background:url(../images/call-icon.png) no-repeat left; padding:0 0 0 35px;}
footer ul li.msgicon{background:url(../images/msg-icon.png) no-repeat left;  padding:0 0 0 35px;}

.socialmedia{background:none !important; padding:0 !important;}
.footerBottom{  width:100%; background: #1e242d;}
.footerBottom p{text-align:center; margin:0; padding:5px 0;}
.medialogo{text-align:center;}
.medialogo .slick-slide img {
    display: block;
    margin: 0 auto;
}
.iconbar{padding:5px 0 !important;}
.navbar-collapse { /* float:right; */
    padding-right: 0;
    padding-left: 0;
}
#navbar1{float: left;margin-left:160px;}

/* 
.nav>li:nth-child(4n+1)::before{background-color: #80c3d2;}
.nav>li:nth-child(4n+2)::before{background-color: #ff8454;}
.nav>li:nth-child(4n+3)::before{background-color: #f0cd3a;}
.nav>li:nth-child(4n+4)::before{background-color: #88c87b;}

.nav>li:nth-child(4n+1)::after{background-color: #80c3d2;}
.nav>li:nth-child(4n+2)::after{background-color: #ff8454;}
.nav>li:nth-child(4n+3)::after{background-color: #f0cd3a;}
.nav>li:nth-child(4n+4)::after{background-color: #88c87b;}

.nav>li.activereport:nth-child(4n+1){background-color: #fff;}
.nav>li.activereport:nth-child(4n+2){background-color: #fff;}
.nav>li.activereport:nth-child(4n+3){background-color: #fff;}
.nav>li.activereport:nth-child(4n+4){background-color: #fff;}

.nav>li.activereport:nth-child(4n+1) h3,.nav>li.activereport:nth-child(4n+1)>a{color: #000 !important;}
.nav>li.activereport:nth-child(4n+2) h3,.nav>li.activereport:nth-child(4n+2)>a{color: #000 !important;}
.nav>li.activereport:nth-child(4n+3) h3,.nav>li.activereport:nth-child(4n+3)>a{color: #000 !important;}
.nav>li.activereport:nth-child(4n+4) h3,.nav>li.activereport:nth-child(4n+4)>a{color: #000 !important;}
.nav> li:nth-child(4n+1) > a:hover{color: #000 !important;}
.nav> li:nth-child(4n+2) > a:hover{color: #000 !important;}
.nav> li:nth-child(4n+3) > a:hover{color: #000 !important;}
.nav> li:nth-child(4n+4) > a:hover{color: #000 !important;}

.nav> li:nth-child(4n+1) > a:hover::after,.nav-tabs > li:nth-child(4n+1):hover {
  border-color: #80c3d2;background-color: #fff; transform: scaleX(1);
}
.nav> li:nth-child(4n+2) > a:hover::after,.nav-tabs > li:nth-child(4n+2):hover {
  border-color: #ff8454;background-color: #fff; transform: scaleX(1);
}
.nav> li:nth-child(4n+3) > a:hover::after,.nav-tabs > li:nth-child(4n+3):hover {
  border-color: #f0cd3a;background-color: #fff; transform: scaleX(1);
}
.nav> li:nth-child(4n+4) > a:hover::after,.nav-tabs > li:nth-child(4n+4):hover {
  border-color: #88c87b;background-color: #fff; transform: scaleX(1);
}

.nav-tabs > li:nth-child(4n+1):hover h3 {color:#fff !important;}
.nav-tabs > li:nth-child(4n+2):hover h3 {color:#fff !important;}
.nav-tabs > li:nth-child(4n+3):hover h3 {color:#fff !important;}
.nav-tabs > li:nth-child(4n+4):hover h3 {color:#fff !important;} */

.nav>li:nth-child >a:hover,.nav-tabs > li:nth-child:hover{border-color: #80c3d2;background-color: #80c3d2;color:#fff;}

.nav>li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 1;
    transition: height .2s;
    -o-transition: height .2s;
    -ms-transition: height .2s;
    -moz-transition: height .2s;
    -webkit-transition: height .2s;
}
.section_three .nav>li>a
{
	position: relative;
    display: block;
    padding: 22px 20px;
    font-size: 18px;
    font-family: 'Roboto';
    color: #000;
    letter-spacing: 1px;
}
.navbar-default{border:none;}

/* .nav>li:nth-child(4n+1)::after >a {background: #80c3d2;}
.nav>li:nth-child(4n+2)::after >a {background: #ff8454;}
.nav>li:nth-child(4n+3)::after >a {background: #f0cd3a;}
.nav>li:nth-child(4n+4)::after >a {background: #88c87b;} */

.nav>li:nth-child(4n+1) > a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background:#80c3d2;
    z-index: -1;
    transition: transform 0.5s;
}
.nav>li:nth-child(4n+2) > a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
   background:#ff8454;
    z-index: -1;
    transition: transform 0.5s;
}
.nav>li:nth-child(4n+3) > a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
   background:#f0cd3a;
    z-index: -1;
    transition: transform 0.5s;
}
.nav>li:nth-child(4n+4) > a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top center;
    background:#88c87b;
    z-index: -1;
    transition: transform 0.5s;
}

.section_three{
   /*  -webkit-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 3px 0px 0px rgba(0, 0, 0, 0.2); */
}

.nav-tabs > li a{
   width: 100%;
   height: 100%;
   margin: 20px auto;
   padding: 0;
   text-align:center;
}
.nav>li>a:focus, .nav>li>a:hover{background: transparent;border-color:transparent;}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1500ms;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0;box-shadow: 0 0 3px }
    50% { opacity: 0.5;box-shadow: 0 0 20px }
    100% { opacity: 1.0;box-shadow: 0 0 3px }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0;box-shadow: 0 0 3px }
    50% { opacity: 0.5;box-shadow: 0 0 20px }
    100% { opacity: 1.0;box-shadow: 0 0 3px }
}

@keyframes blinker {  
    0% { opacity: 1.0;box-shadow: 0 0 3px }
    50% { opacity: 0.5;box-shadow: 0 0 20px }
    100% { opacity: 1.0;box-shadow: 0 0 3px }
}
/* Menu & Report End */
/* ---- Bottom to Top ------ */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
 /*  background-color: red; */
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  background: url(../images/scroll_top_btn.png) center center / cover;
}

/* News Feed IN OUT */
#trigger1 .newsfeedoverlay{    
    background-color: #062c65;
    border: 1px solid #fff;
    left: -100px;
    padding:  6px 6px;
    position: absolute;
    top: 0px;
    width: 100px;
    cursor: pointer;
}
#trigger2 .newsfeedoverlay{ 
     background-color: #062c65;
    border: 1px solid #fff;
    left: -100px;
    padding: 6px 6px;
    position: absolute;
    top: 47px;
    width: 100px;
    cursor: pointer;
}
.fltleft{float:left;padding:0px 5px;}
.slider{
/* background-color: #fff; */
color: white;
z-index:9999 !important;
height: 40.5% !important;
}
#trigger{
width: 90%;
padding: 10px;
margin: 5px 5%;
}
.calendarheading{clear:both;}

#SkillKit .pricesaving {width: 22%;height: 15%;}
#SkillKit h3{color:#000;}#SkillKit p{color:#000000;}.skillkit{background: #dbd6d3;}
.crowny{
	background: url(../images/sparkies/6.gif);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 35%;
} 
.crowny {animation: blinker 3s linear infinite;}
@keyframes blinker {50% { opacity: 0; }}

#bspisval h5{margin:0px;padding-top:10px;}
.Percentile{margin:0px;padding-top:10px;}
#bspisval {
    width: 100%;
    padding: 0px 15px;
    text-align: center;
    color: #000;
    font-size: 24px;
    font-weight: bold;
}
#bspisval h5{color:#8117af;}
#pointsval h5{ color:#8117af;margin-bottom: 0;}
#pointsval
{
	width: 100%; 
 /*    float: left;
    padding: 0px 15px;*/
    text-align: center;
    color: #f92c8b;
    font-size: 24px;
    font-weight: bold;
}

.puzzle-heading{
	/* margin: 0px 20px 0px 20px;
    padding: 15px; */
    background: #fff;
    /* background: #CDDC39; */
    color: #fff;
	
}
.puzzle-heading h2{color:#fff;margin:0px;padding: 5px;background: #20d8f2;width: 73%;margin: 0 auto;}
.puzzle-heading h4{color:#000;}
.puzzlescontent{
		background: #1ec7e6;
		/* background: #D4E157; */
		overflow: hidden;
		/* padding:0px 0px 20px 0px; */
		margin:0px 20% 40px 20%;
	    position: relative;
		border-radius: 40px 40px 0px 0px;
		border: 2px solid;
}
.bgcolor{
	background:#fafafa;color:#000;
	/* background: gray url(../images/new/pattern.png) repeat 0 0; */
    width: 100%;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
   /*  -webkit-animation: slide 20s linear infinite; */

}
@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
.bgcolor1{background:#fff;color:#000;}
/* .nbgcolor{background:#fff;color:#000;border: 1px solid #eee;}
.bg1color{background:#eee;color:#000;border: 1px solid #fff;} */
.Calendarhead{color: #000;font-size: 25px;  border: #fff;margin: 0;}
.ch-title{border: 1px solid #ccc;color:#000;}
.bspiCalenderTop .glyphicon {color:#1e88e5;}
.badgesdiv{margin:10px 0px;/* border-bottom:1px solid #eee; */overflow: hidden;}
.timelefthead h3{color: #2196f3;font-weight: bold;margin: 5px;}
.training-dot{background-color: #1e88e5;border-radius: 50%;border: 1px solid #1e88e5;width: 15px;height: 15px;   display: inline-block;}
.dot{background-color: #1e88e5;color:#fff;}
.mgbot{margin-bottom:20px;}

.maininfo{padding: 10px 0px 0px 0px;font-size: 21px;    color: #f92c8b;
    font-weight: bold;/* background: #fafafa; font-weight:bold;*/}
.maininfo h3{margin:0px;font-weight:bold;color:#fff;}
.spaval{}
.spaval h5{}

.boxnew1 .text-center{padding-top: 7px;}
.boxnew3 .text-center{padding:5px 0px;}
.boxnew4 .text-center{padding:5px 0px;}
.maininfo a{color:#000;}
.boxnew1{/* background-color: #f0f0f0; */height: 118px; /*box-shadow: 5px 5px 5px #888888; border-radius: 50px 0px; */ border-right: 1px solid #fafafa;}
/* .boxnew2{height: 118px;} */
#dashpart1 h3{color:#000;font-size:20px;font-weight: bold;}
#dashpart1{margin-bottom:10px;}
.boxnew3enable {background-color: #861ee5;display: block;}
.boxnew3enable .text-center{padding:5px 0px;}
.boxnew3enable a{display:inline-block;font-weight: bold;text-decoration: none;}
.not-active{pointer-events: none;  cursor: default;}
.isplayed{background-color: #B2FF59;display: block;}
.isplayed a{color: #000;}
.CQtext{font-weight:bold;}
#todayModal .modal-title {color: #fff;}
#todayModal .modal-body {background: #fafafa;overflow: hidden;}
#todayModal h3{color:#000;margin-top: 5px;text-align: center;}
#todayModal h4{color:#fff;margin-top: 5px;}
.col1 {/* background: #0f4472; */border-bottom:1px solid #ccc;border-radius: 5px;margin: 0 auto;width: 100%;margin: 5px 0px;}
.col2 {/* background: #6f68ab; */border-bottom:1px solid #ccc;border-radius: 5px;margin: 0 auto;width: 100%;margin: 5px 0px;    padding-bottom: 5px;}
.col3 {/* background: #6f68ab; */padding-bottom: 5px;}
.col4 {background: #fafafa;}
.col5 {background: #fafafa;}
.mgbot{margin-bottom:20px;box-shadow: 5px 5px 5px #cccc;}
.h50{height:115px;    margin-bottom: 5px;}
/* @media screen and (max-width: 420px) {#todayModal .modal-dialog{width: 80% !important;}} */
.shake {
  animation: shake 1.4s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
@keyframes shake {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

/* @keyframes shake {10%, 90% {transform: translate3d(-1px, 0, 0);}
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
} */

#confetti{
	background: transparent;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index:-1;
}

.clickhere {
   /*  background-color: #f92c8b; */
    left: 0px;
    /* padding: 7px; */
    position: relative;
    top: 0px;
    width:234px;
    cursor: pointer;
    color: #fff;
    z-index: 9999;
	border-radius: 2px;
}
.btmbar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#4d68a2;
   color:#fff;
   text-align: center;
   z-index:9999;
}
#DemoGames {
    position: fixed;
    color: white;
    z-index: 999;
    right: 0px;
}
.clickhere a:hover{
	color: #fff !important;
}
.bg1color{position: relative;}
.MinutesTrained{position: absolute;top: 21px;left: 128px;color: #fff;font-size: 48px;}
.PuzzlesSolved{position: absolute;top: 21px;left: 119px;color: #fff;font-size: 48px;}
.PuzzlesAttempted{position: absolute;top: 21px;left: 119px;color: #fff;font-size: 48px;}
.UniquePuzzle{position: absolute;top: 21px;left: 128px;color: #fff;font-size: 48px;}

.MinutesTrained1{background:url(../images/new/minutes.png) no-repeat center;padding: 30px;color: #fff;font-size: 48px;}
.PuzzlesSolved1{background:url(../images/new/solved.png) no-repeat center;padding: 30px;color: #fff;font-size: 48px;}
.PuzzlesAttempted1{background:url(../images/new/attempted.png) no-repeat center;padding: 30px;color: #fff;font-size: 48px;}
.UniquePuzzle1{background:url(../images/new/uniquepuzzles.png) no-repeat center;padding: 30px;color: #fff;font-size: 48px;}

.cqimg{width:50px;padding-right:10px;}
.pricesaving {
   width: 80px;
    line-height: 70px;
    display: inline-block;
    height: auto;
    padding-top: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
     background: url(../images/new/lifesymbol.png);
    position: absolute;
	right:5px;
    top:35px;    z-index: 1;
    /*  border-radius: 16px;  */
    background-size: 100%;
    background-repeat: no-repeat;
}
/*-------*/
.gameimg{background: #1ec7e6;display: block;width: 73%;margin: 0 auto;padding: 10px 0px;}
.gicon{width:150px;}
.SuperBrainimg{background: #26415e;position: relative;border-radius: 12px;color: #bbbbb9;background-repeat: no-repeat;background-position: 0;background-image: url(../images/new/B-superbrain.png);font-size: 24px;font-weight: bold;}
.SuperBrainimg h3{color:#1af1ea;font-weight: bold;font-size: 36px;}

.SuperGoerimg{background: #26415e;position: relative;border-radius: 12px;color: #bbbbb9;background-repeat: no-repeat;background-position: 0;background-image: url(../images/new/B-supergoer.png);font-size: 24px;font-weight: bold;}
.SuperGoerimg h3{color:#b7e352;font-weight: bold;font-size: 36px}

.SuperAngelimg{background: #26415e;position: relative;border-radius: 12px;color: #bbbbb9;background-repeat: no-repeat;background-position: 0;background-image: url(../images/new/B-superangel.png);font-size: 24px;font-weight: bold;}
.SuperAngelimg h3{color:#f1cc47;font-weight: bold;font-size: 36px;}
.pdbot15{padding-bottom:15px;}

.CQAttemptedcount{background:url(../images/new/minutes.png) no-repeat center;padding: 18px;color: #fff;font-size: 40px;background-size: contain;background-repeat:no-repeat;}
.TopScore{background: url(../images/new/SuperBrain-Badge.png);min-height: 110px;background-position: center top;background-size: contain;background-repeat:no-repeat;}
.MaxQuestion{background: url(../images/new/SuperGoer-Badge.png);min-height: 110px;background-position: center top;background-size: contain;background-repeat:no-repeat;}
.MaxSloved{background: url(../images/new/SuperAngel-Badge.png);min-height: 110px;background-position: center top;background-size: contain;background-repeat:no-repeat;}
.CQ_Badge{margin:100px 0px 20px 0px;}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.boradious {
       background: #cccccc; 
 border-radius: 5px; 
	    margin: 3px;
	min-height: 188px;
	border: 1px solid #ccc;
	box-shadow:5px 5px 5px #888888; 
}
@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}
.boradious1 {
      /* background: #6c7ae0; */
    border-radius: 5px;
	    margin: 3px;
	    min-height: 188px;
		/* box-shadow: 5px 5px #888888; */
	border-right: 1px solid #ccc;
}
.boradious1:last-child {
   /*  border: none; */
}
#todayModal .modal-header
{
	padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #3f51b5;
    color: #fff;
    border-radius: 0 0 50px 50px;
}
#Starimg{margin: 5px 0px;}
#mobicon{text-align: left;color: rgb(170, 49, 58);}

.fs{font-size:15px;color: #000;line-height: 0;}
.nopad{padding:0; margin:0;}
.rightborder{border-right:1px dotted #eee;}
.col3{/* background: #0f4472; */margin: 5px 0px 15px 0px;width: 100%;border-bottom: 1px solid #ccc;
    border-radius: 5px;}
.mrg10{margin: 0 10%;padding: 0;}

#todayModal .percircle > span{height: 3em;}

#dashpart2 .pull-right-lg{border:none;box-shadow: 5px 5px 5px;}
.lastdiv{border-right:none;}
#TodayTimer{font-family: 'Rancho';
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    min-height: 80px;
    padding: 2px;
}

#leaderboard {
  background: gray url(../images/new/pattern.png) repeat 0 0;
  width: 100%;
  padding-bottom: 10px;
  margin:0px;
  text-align: center;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}
#LB{height: 400px;overflow : auto;}
/* #LB:hover{overflow-y: scroll;} */
#LB::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
	border-radius: 10px;
}

#LB::-webkit-scrollbar
{
	width: 10px;
	background-color: #fff;
}

#LB::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-color: #fff;
}

#LB::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
	border-radius: 10px;
}

#LB::-webkit-scrollbar
{
	width: 10px;
	background-color: #fff;
}

#LB::-webkit-scrollbar-thumb
{
	background-color: #fff;
	border-radius: 10px;
	background-color: #f01452;
}
.leaderboard
{
	background:#6c7ae0;
    overflow: hidden;
    border-radius: 10px;
	margin: 2px;
	text-align: center;
}
.leaderboard img{width:55px;margin: 5px}
.leaderboard h3{margin:2px;color:#fff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-family: 'Rancho';font-size: 28px;}
.leaderboard h5{color:#000;font-family: 'Rancho';font-size: 18px;}
.leaderboard h4{color:#fff;color: #fff;background: #0cf;padding: 13px;border-radius: 1px 20px;font-family: 'Rancho';}
.RgnBtnColor{color:#e77817;}

/*........ASAP Puzzle Page ...........*/
.tooltip {background-color:transparent !important;opacity:1 }
.tooltip-inner {max-width:100%;text-align: inherit;    overflow: hidden;}
.tooltip-inner {
    background-color:#ffffbc;
    color: #000;
    border: 3px solid #dede71;
    border-radius: 10px;
}
.tooltip.in{opacity:1 !important}

.feedback-button {
    height: 40px;
    border: solid 3px #CCCCCC;
    background: #333;
    width: 100px;
    line-height: 32px;
    -webkit-transform: rotate(-90deg);
    font-weight: 600;
    color: white;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
    font-size: 17px;
    position: fixed;
    right: -40px;
    top: 25%;
  
    z-index: 999;
}
.feedback-button:hover{color:#fff;text-decoration:none;background:#1e88e5;border: #fff;}
.curasapstatus{text-align:center;font-family: 'Rancho';}
.bullet li:before {
    content: '\f185';
    /* content: "• "; */
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.2em;
    color: #ffc000;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    font-size: 1.2em;
}
.guidelines{padding:5px;font-size: 16px;}
.guidelineshe{text-align:center;padding: 0;margin: 5px;}
.guidelines  li{line-height:33px;color:#000;}
.guidelines  li span{padding-left:5px;}
.dateonasap{    display: block;font-size: 15px;color:#000;font-family: 'Rancho';}
.tooltipicon{top:-10px;position:relative;}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait)
{
	.tooltipicon {top:0px;position:relative;display:block;}
}






/* Mobile SideBar ******** */

#ref1 .form-container1{
	/* background: #ccc; */
    min-height: 350px;
    /* box-shadow: 5px 5px 5px #fff; */
    padding: 10px;
	text-align: left;
}
#ref2 .form-container1{
	/* background: #eee; */
    min-height: 350px;
   /*  box-shadow: 5px 5px 5px #fff; */
    padding: 10px;
	text-align: left;
}
#frmReferal{
		/* background: #ccc; */
    min-height: 350px;
   /*  box-shadow: 5px 5px 5px #fff; */
    padding: 10px;
	text-align: left;
}
#frmReferal1{
	/* background: #eee; */
    min-height: 350px;
    /* box-shadow: 5px 5px 5px #fff; */
    padding: 10px;
	text-align: left;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    transition: 0.5s;
 
	background: #fafafa  url(../images/new/inviteafriend.png) repeat 0 0;
	 background-repeat-y: no-repeat;
  -webkit-animation: slide 20s linear infinite;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    font-size: 36px;
    margin-left: 50px;
	 float:right;
	color:#000;
}
.starclsnew{margin: 56px 0px 0px 0px;padding:0px;}
.sidenav{color:#fff;}

.feedback-button {
    height: 40px;
    border: solid 3px #f32d00;
    background: #ff5630;
    width: 140px;
    line-height: 32px;
    -webkit-transform: rotate(-90deg);
    font-weight: 600;
    color: white;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    text-align: center;
    font-size: 17px;
    position: fixed;
    right: -50px;
    top: 25%;
    /* font-family: 'Rancho'; */
    z-index: 999;
}
.sidenav h3{text-align:center;color:#000;font-weight:bold;font-family: 'Rancho';/* background: #fafafa; */padding: 7px;
margin: 0;}
.referalinfo {
  background: #199c90  url(../images/new/inviteafriend.png) repeat 0 0;
  width: 100%;
  padding: 70px 0px 10px 0px;
  margin:0px;
  text-align: center;
  box-sizing: border-box;
  background-repeat-y: no-repeat;
  -webkit-animation: slide 20s linear infinite;
}
.referalinfo label{color:#000;}
.pd10{padding-bottom:10px;}
.aref{padding:10px;color:#fff;}
.aref1{padding:10px;color:#ff6600;}

.r1{background: #f3b585;min-height:400px;    font-size: 22px;color:#000;}
.r2{background: #1ee5d3;min-height:400px;    font-size: 22px;}
.r2 label{color:#000;}
 
 
 @-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.timelabel{     color: #8117af;    margin-top: 7px;
    font-size: 1.2em;}

.frmchildreg {
    background: #fafafa;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #0c0c0c;
    border-radius: 5px 70px;
}
.ChildReg{background:url(https://colorlib.com/etc/cf/ContactFrom_v11/images/bg-01.jpg);color: #2b3320;}
.ChildReg h3{color: #fff;text-align:center;}
#dashpart1 h3 a
{
	background:#1e88e5;
	padding:5px 20px;
	border-radius: 5px;
    text-decoration: none;
}
.frmchildreg{
	padding-bottom: 20px;
    width: 70%;
    margin: 0 auto;
    background: #fafafa;
    border-radius: 15px 67px
}
.warninglabel{color:#000;font-size: 21px;text-align: center;}
.warninglabel h5{color:#1e3177;}
.section_three svg {
	 position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.section_three {
  position: relative;
  border-bottom:3px solid #FFC107;
}
.vreport{
	
    padding:5px 5px;
    text-decoration: none;
    background: #f92c8b;
    border-radius: 2px;
    color: #fff !important;
    left: 0;
    position: absolute;
    font-size: 22px; 
	margin-top:5px;
}
.dailyreport{
	padding:5px 5px;
    text-decoration: none;
    background: #f92c8b;
    border-radius: 2px;
    color: #fff !important;
    right: 0;
    position: absolute;
    font-size: 22px; 
	margin-top:5px;
}
.dailyreport:hover{text-decoration: none;}
.vreport:hover{text-decoration: none;}
.my_profile{ 
background:#eeeeee; 
width:100%;
position:relative;
text-align:center;
/* background-image:url(http://lmpixels.com/demo/procard/images/main_bg.png);
 */    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 50px 0;
	
}
div.user-menu-container{
	position: relative;
    background-color: #583463 !important;
    padding: 0px 150px;
    margin-bottom: 25px;
    background-image: url(../images/banner/profilepage.jpg); 
    background-size: 100% 64%;
    background-position: center top;
    background-repeat: no-repeat;
	height: 490px;
}
.Newchildadd{text-align:center;}
/* .scoreboard {background:url(../images/new/scoreboard.png);} */
.childlistlink:hover{color:#fff;text-decoration:none;}

.navbar-toggle {
    background: #f92c8b;
    border-radius: 0;
    width: 100%;
    margin: 0;
    color: #fff;
}
#primary-menu{width:100%;}


@media only screen and (min-width: 320px) and (max-width: 760px) {
	.nav>li>a {background: #fc0;}
}

.activereport a{border: 2px solid #fff !important;background: #f92c8b !important;color:#fff !important;}

@media only screen and (min-width: 320px) and (max-width: 760px) {
	#TodayTimer{position: relative;margin: 10px 0px;}
}
.staractive {width: 13%;margin:4px;}
.starinactive {width: 13%;margin:4px;}