
* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Phenomena-Regular' !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4e4e4f;
    background-color: #fff;
}

li {
    list-style: none;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
     font-family: 'Phenomena-Regular';
}

h2 {
    font-size: 38px;
    font-weight: 400;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
	color:#ff6600;
}



h3 {
    font-weight: 400;
    font-size: 25px;
}

h4,
.h4 {
    font-size: 23px;
    line-height: 30px;
    font-weight: 400;
}

h5,
.h5 {
    font-size: 22px;
    font-weight: 400;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.section_one{	
height: 102px;
background-image: url(../images/topBg.png);
width: 100%;
background-position: top center;
background-repeat: no-repeat;
position: relative;
background-color: transparent;
}

.section_one ul{ margin-left:40px; margin-top:30px;}
 .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 14px;
    font-size: 18px;
    font-family: 'Phenomena-Bold';
    color: #010101;
	letter-spacing:1px;
}

.nav>li:last-child>a {
    margin-right: 0px;
    border: 1px solid #BBB;
    padding: 0px 4px;
    margin-top: 10px;
}
.section_two{	
height: 129px;
background-image: url(../images/yellowBg.png);
width: 100%;
background-position: top center;
background-repeat: no-repeat;
position: relative;
background-color: transparent;
color:#FFF;
overflow:hidden;

}
.clear_both{ clear:both;}
.navbar-default {

    position: relative;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: transparent;
        border-color: none !important;
}
.section_two p {
    font-size: 24px;
    color: #FFF;
	 font-family: 'Phenomena-Light';
	     line-height: 28px;
}
.mid_sec {
    padding-top: 10px;
}
.sec_in_sec {
    text-align: center;
    margin: 10px 0px 10px 0px;
    height: 117px;
    background-image: url(../images/line-2.png);
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    padding-top: 12px;
}
.sec_in1{background-image: none;}
.sec_in_L {
    margin-left: 50px;
}
.sec_in_L  ul{
    margin:0px; padding:0px;	
}
.sec_in_L  ul li{
    padding:0px;	
	list-style:none;
	display:inline-block;
}
li.pad_v1 {
    padding-left: 20px !important;
    position: relative;
    top: 14px;
}
    
.main_sec{ width:31%}
.block{ color:#000; font-size:30px;  font-family: 'Phenomena-Bold';}
.section_three{	
height: 80px;
background-image: url(../images/blueBG.png);
width: 100%;
background-position: top center;
background-repeat: no-repeat;
position: relative;
background-color: transparent;
}
.section_three .nav>li>a {
    position: relative;
    display: block;
    padding: 22px 30px;
    font-size: 22px;
    font-family: 'Phenomena-Regular';
    color: #FFF;
	letter-spacing:1px;
}
}
.section_three .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #FFF;
	
}
.section_three .nav>li:last-child>a {
    margin-right: 0px;
    border: 1px solid #FFF;
    padding: 4px 10px 8px 10px;
    margin-top: 10px;
    background: #FFF;
    color: #000;
    margin-top: 19px;
    margin-left: 16px;
}
.section_three .nav>li>a:focus, .section_three .nav>li>a:hover {
    text-decoration: none;
    background-color: #FFF;
	color:#000;
	-moz-box-shadow: inset 0px 0px 8px 0px #888;
-webkit-box-shadow: inset 0px 0px 8px 0px #888;
box-shadow: inset 0px 0px 8px 0px #888;
}
.section_three ul {
    margin-left: 77px;
}
.section_four{ 
background:#EDF1F4; 
padding:0px 0px 25px 60px;
width:100%;
position:relative;
text-align:center;
    top: -15px;

}
.section_four h2 {
    color: #000;
    text-align: left;
    font-size: 38px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 15px;
}
 .section_four .nav-tabs>li>a {
    margin-right: 0px;
    border: 0px;
    background: transparent;
    font-size: 30px;
    color: #FFF;
    padding: 10px 0px;
    border-radius: 0px;
 font-weight:400;
 

}

 .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    

}
 .panel {  
    border: 0px solid transparent;   
}
 .nav-tabs>li {
    float: left;
    margin-bottom: 0px;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
   background-color: transparent;
    border: 0px solid #ddd;
    color:#ff6600;

   
}

.panel-default>.panel-heading {
    color: #000;
    background-color: transparent;
    border-color: transparent;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0px solid #ddd;
}
a.accordion-toggle {
    font-size: 18px;
    text-decoration: none !important;

}
.panel-default>.panel-heading {
    color: #FFF;

    border-color: transparent;
}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
    color: #000 !important;
   
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: none;
	box-shadow: none;
}
.section_four .panel-body {
    padding: 0px;
}
.section_four .nav-tabs>li:last-child>a {
    margin-right: 0px;
    border: 0px solid #BBB;
    margin-top: 10px;
}
.tab_sec_c1 .col-md-3{ width:19%; padding-left:10px; padding-right:10px;}
.box_c1{ background:#FFF; padding:1px 0px 0px 0px;  -webkit-box-shadow: 1px 1px 5px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 5px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 5px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.tab_sec_c1 h3 {
    color: #ff6600;
    text-align: left;
    margin: 15px 0px 18px 0px;
    font-size: 30px;
}
.box_c1 h3 {
    color: #000;
    text-align: center;
    font-weight: 600px;
    margin: 13px 0px 22px 0px;
}
.tab_sec_c1 p{ font-size:20px;}
.btn.in_btn {
    background: #ff6600;
    padding: 1px 29px;
    border: 0px;
    color: #FFF;
    font-size: 18px;
    position: relative;
    border-radius: 0px;
    top: 10px;
}
.white_sec{
	background:#FFF;
 padding:0px 0px 0px 0px; 
 text-align:center;
}
.white_sec h2{ padding-bottom:0px; margin-bottom:0px;}
.section_five{ 
background:#F0F0F0 ;
 padding:13px 0px 3px 0px;
 text-align:center;
 margin-top: -2px;
}
.calc_L{ 

background-image: url(../images/line.png);
background-position: center right;
background-repeat: no-repeat;
    display: block;
    overflow: hidden;
 }
 .calc_L ul{ margin:0px 25px;}
  .calc_L ul li{ padding:5px 10px; float:left;}
  .calc_L p{ padding:5px 10px; display:inline-block; font-size:18px; color:#000;}
.circle_sec ul {
    margin: 40px 0px;
}
  .circle_sec ul li{ float:left; padding:0px 20px 0px 0px;}
 .circle_sec{ text-align:left}
.circle_sec p {
    display: inline-block;
    padding: 12px 5px;
	font-size:18px;
	color:#000;
}
li.pad_v2 {
    padding-left: 67px !Important;
}
.circle_sec_C1 img{ padding-top:40px; margin-bottom:60px;	}

.circle_sec_C1 {
    position: relative;
    right: 69px;
}
.calc_L h3 {
    display: inline-block;
    text-align: right;
    margin: 0px 0px 13px 0px;
    padding: 0px 0px;
    font-size: 18px;
}
.calc_L h2 {
    font-size: 25px;
    display: inline-block;
    text-align: left !IMPORTANT;
    margin: 0px;
    padding: 0px;
    width: 66%;
	color:#000;
}
.section_six{ 
background:#F8F8D4 ;

 margin-top: -2px;
 width:100%;
 position:relative;
 padding-left:40px;

}
.trophies_L{ padding:10px 0px 20px 0px;}
.trophies_L p{ font-size:20px; color:#000; font-weight:400; }

.section_seven{ 
background:#EDF1F4 ;
 padding: 10px 0px 30px 0px; 
 margin-top: -2px;
 text-align:center;
}
.section_seven p{ font-size:21px; padding-right:20px; padding-top:20px;}
.award_sec {
    border: 4px solid #FE6700;
    border-radius: 100%;
    padding: 32px 0px;
    text-align: center;
    width: 87%;
	margin-top:35px;
	height:143px;
}

 .award_sec.bdr_c1{  border: 4px solid #067C02 !important;}
.award_sec.bdr_c2{  border: 4px solid #FACE53 !important;}  
.award_sec.bdr_c3{  border: 4px solid #BE0201 !important;} 
.award_sec.bdr_c4{  border: 4px solid #1D9DDE !important;} 

.platinum {
    height: 47px;
    background-image: url(../images/platinum.png);
    width: 47px;
    float: left;
	position: relative;
    top: 20px;
	top: 30px;
    left: 12px;
	background-repeat: no-repeat;
    
}
.silver{
	 height: 47px;
    background-image: url(../images/silver.png);
    width: 47px;
	float: left;
	position: relative;
	top: 30px;
	left:-6px;
	background-repeat: no-repeat;
}
.gold {
    height: 47px;
    background-image: url(../images/gold.png);
    width: 47px;
    float: left;
    position: relative;
    top: -11px;
    left: 3px;
    background-repeat: no-repeat;
}


.footer{
height: 297px;
background-image: url(../images/bg_Footer.png);
width: 100%;
background-position: top center;
background-repeat: no-repeat;
position: relative;
background-color: transparent;
padding:40px 0px
}
.foot_sec{ margin-left:30px}
.foot_c1
{	
background-image: url(../images/divider_Footer.png);
width: 100%;
background-position: center right;
background-repeat: no-repeat;
position: relative;
background-color: transparent;
padding:10px 0px;
height:143px;
	
}

.foot_c1 p {
    padding: 0px 0px 0px 0px;
    color: #FFF;
    font-size: 18px;
    line-height: 18px;
}
.in_foot{ width:27%}
.foot_c1 img{ margin-bottom:20px;}
.foot_c2 ul li{ padding:8px 20px}
.foot_c2 img{ margin-bottom:0px;}
.foot_c2 p {
    display: inline-block;
    padding: 0px 20px;
    position: relative;
    top: 1px;
}
.foot_menu ul{ margin-top:30px;}
.foot_menu li{padding:4px 20px;}
.foot_menu a{ text-decoration:none; color:#FFF; font-size: 18px; }
.foot_menu a:hover{ color:#FFBF00}
.foot_c4 h2{ color:#FFF; font-size:18px; margin-bottom:5px; padding-left: 20px; padding-bottom:5px;}

.foot_c4 ul li{ float:left; padding:5px 10px; color:#FFF; font-size: 18px;}
.foot_bot{ 
background:#1D242E ;
 padding: 5px 0px; 
 text-align:center;

}
.foot_bot p{ color:#FFF; font-size: 18px; padding-top:10px;}
.section_seven h2{ margin-bottom:0px; padding-bottom:0px;}
p.pad_v4{ padding-left:0;}
a.tab_bg_one {
    background-image: url(../images/icon_BrainSkills.png) !important;
    background-repeat: no-repeat !important;
    height: 71px;
    width: 400px;
    margin-top: 10px;
	
}
a.tab_bg_one:focus {
    background-image: url(../images/icon_BrainSkillsOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_one:hover {
    background-image: url(../images/icon_BrainSkillsOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_two{
    background-image: url(../images/icon_Curriculum.png) !important;
    background-repeat: no-repeat !important;
    height: 71px;
    width: 400px;
    margin-top: 10px;
		
}

a.tab_bg_two:focus {
    background-image: url(../images/icon_CurriculumOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_two:hover {
    background-image: url(../images/icon_CurriculumOn.png) !important;
    background-repeat: no-repeat !important;	
}
a.tab_bg_three{
    background-image: url(../images/icon_LifeSkills.png) !important;
    background-repeat: no-repeat !important;
    height: 71px;
    width: 400px;
    margin-top: 10px ;		
}

a.tab_bg_three:focus {
    background-image: url(../images/icon_LifeSkillsOn.png) !important;
    background-repeat: no-repeat !important;
	
}
a.tab_bg_three:hover {
    background-image: url(../images/icon_LifeSkillsOn.png) !important;
    background-repeat: no-repeat !important;	
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}



.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
   padding: 0px 10px !important;
    float: left;
    border: 1px solid #F5F5F5;
	line-height: 15px;
	background:#EBEBED;
	 
}

 .days li.pad_txt {
    padding-top: 0px !important;
    padding-bottom: 1px !important;
    text-align: left !important;
}
 img.pad_calc {
    padding-left: 10px;
    text-align: left;
    position: relative;
    top: -6px;
 }

.weekdays li:hover{ background:#BEBEC0}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size: 14px;
    color: #000;
    padding: 15px 10px !important;
    float: left;
    border: 1px solid #F5F5F5;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}
.clr_c1{ color:#FE5802}
.clr_c2{ color:#057E00}
/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width:14.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 13.5%;}
    .days li .active {padding: 2px;}
	.days li.pad_txt {
    padding-top: 9px !important;
}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
.my_profile{ 
background:#EDF1F4; 
padding:0px 0px 25px 60px;
width:100%;
position:relative;
text-align:center;
    top: -15px;

}
.my_profile h2, .contentInner h2 {
    color: #FF6600;
    text-align: left;
    font-size: 38px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 15px;
}
.heading_c1 {
    font-size: 25px;
    color: #CCC;
    text-align: left;
    margin-top: -12px;
    margin-left: 10px;
}
.contentInner{ 
background:#EDF1F4; 
padding:0px 0px 25px 60px;
width:100%;
position:relative;
text-align:center;
    top: -15px;

}
.form_sec .form-control {
    width: 490px;
    height: 54px;
    margin-bottom: 10px;
    font-size: 22px;
    border-radius: 0px;
	font-family: 'Phenomena-Light';
	
}

.form_sec .radio-inline {
    font-size: 18px;
    margin-bottom: 23px;
    margin-top: 17px;
    margin-right: 16px;
    color: #000;
}

.form_sec  input[type=checkbox], input[type=radio] {
    margin: 5px 0px 0;
    margin-top: 15px\9;
    line-height: normal;
	background:#000;
	width:18px;
	height:18px;
	 margin-left: -24px !important;
	
}


.form_sec select {
    background-image: url(../images/arrow-select.jpg);
    background-position: 96% 50%;
    background-repeat: no-repeat;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
	margin-bottom:10px;

}

 .form_sec  textarea{ height:100px !important}

 .plan_bold {
    color: #FF6600;
    text-align: left;
    font-size: 30px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 28px;
}
.plan_top {
    color: #FF6600;
    text-align: left;
    font-size: 30px;
    margin-bottom: 6px;
    padding-bottom: 7px;
    margin-top: 0px;
    padding-left: 20px;
}

button.btn.btn-default.Submit {
    background: #FF6600;
    padding: 5px 0px 9px 0px;
    width: 237px;
    font-size: 23px;
    color: #FFF;
    margin-top: 20px;
    outline: none;
    border-radius: 0px;
}
button.btn.btn-default.Submit:hover{ background: #000;}

.myreportsList{position:relative; text-align:center; min-height:339px;     margin: 0 0 25px;}
.myreports h3{    padding:5% 35px;      margin: 0 0 12px; font-size:24px;min-height:80px;  }
.myreports{background:#fbfbfd; box-shadow: 1px 1px 9px 0px #dcdde2; padding: 15px 15px 65px; min-height:320px;}
.myreportsBtn{background:#ff6600; color:#fff; display:inline-block; padding:3px 15px 2px; left: 87px; font-weight:300; position: absolute;  bottom:0; font-size: 25px;}
.myreportsBtn:hover{color:#fff; text-decoration:none;}


.mytrophies h3{    padding:5% 35px;      margin: 0 0 15px; font-size:24px; }
.mytrophies{background:#fbfbfd; box-shadow: 1px 1px 9px 0px #dcdde2; padding: 15px 15px 58px; margin:0 0 25px; min-height:306px; }
.trophieslist{ width:162px; height:160px; font-size:42px; color:#ff6600; text-align:center; line-height:110px; margin:0 auto;}
.trophy-DiamondBig{background:url(../images/trophy-DiamondBig.png) no-repeat;}
.trophy-GoldBig{background:url(../images/trophy-GoldBig.png) no-repeat;}
.trophy-SilverBig{background:url(../images/trophy-SilverBig.png) no-repeat;}



/*today*/
.skills{padding:0; margin:0 0 45px 0; width:987px; display:block; overflow:hidden;}
.skillsLeft{padding:0; margin:0 60px 0 0; float:left; color:#ff6600; font-size:30px; }
.skillsRight{padding:10px 0 0 0; margin:0; float:left;}
.skillsRight ul{margin:0; padding:0;}
.skillsRight ul li{ list-style:none; float:left; margin-right:35px;}
.skillsRight ul li img{float:left; margin-right:5px;}
.skillsRight ul li span{ font-size:18px;}
.bspiCalenderTop{padding:0; margin:0 0 5px; width:987px; display:block; overflow:hidden;}
.leftText{float:left; font-size:18px; padding:50px 0 0; letter-spacing:1px; }
.month{    padding: 0;
    float: right;
    width: 260px;
    height: 77px; }
.month span{font-size:30px; font-weight:500; color:#fff; }
.box { float:right; width:100%;background: url(../images/month-bg.jpg) no-repeat;}
.box select{ text-align:center; }
.bspicalender{background:url(../images/calnder-outer-bg.jpg) no-repeat; width:987px; height:522px; padding:45px; margin-bottom:20px;}
.bspicalender ul{padding:0; margin:0;}
.bspicalender ul li{padding:10px 10px 0; font-weight:500; margin:0 10px 10px 0; text-align:left; float:left; font-size:18px;  background:url(../images/date-bg.jpg) no-repeat; width:118px; height:60px; }
.bspicalender ul li label{display:block; font-weight:500;}
.dLeft{width:25px; margin:0 4px 0 0; float:left; text-align:center; line-height:18px; color:#fff;}
.dMiddle{    width: 36px; margin: 0 4px 0 0; float:left; text-align:center;}
.dRight{width:29px; float:left; text-align:center; color:#ffe3ac;}
.bspicalender .disapled{opacity: 0.5;}
.brainTrainedBottom{ text-align:center; color:#fff; font-size:18px;}
.mLeft{float:left; padding:10px 0 0 18px;}
.mMiddle{float:left; text-align:center; width:160px;}
.mRight{float:right; padding:10px 18px 0 0;}
.myBrainProfile{padding:0; margin:0; display:block; overflow:hidden;}
.myBrainProfile h2{padding:0; margin:0;}
.myBrainProfileIn{width:850px; margin:0 auto; }
.myBrainProfileIn .col-md-2{width:162px; padding:0 0 0 35px; position: relative; height:355px; border-bottom:solid 5px #223a68; margin-bottom:10px;}
.myBrainProfileIn .col-md-2 span{padding:0; width:102px; display:block; font-size:19px;  margin:0 0 2px; border-bottom:solid 2px #ff6600;}
.myBrainProfileIn .cbox{position:absolute; bottom:0;}
.myBrainProfileIn .memory{ background:#018ca9; height:168px; width:102px;}
.myBrainProfileIn .visual {background:#9c9c9c;height:195px; width:102px;}
.myBrainProfileIn .focus {background:#e03142;height:336px; width:102px;}
.myBrainProfileIn .problem {background:#01004c;height:130px; width:102px;}
.myBrainProfileIn .linguistics {background:#f1b62c;height:166px; width:102px;}
.myBrainProfileIn .col-md-2 h3{position:absolute; bottom:-30px;}

.myBrainProfileIn  ul{padding:0; margin:0;}
.myBrainProfileIn  ul li{    width: 184px;  float: left; font-size:18px; margin-left: -16px;}

.navbar-nav>li>.dropdown-menu {  margin: 0;}
.avatar{position:relative;}
.photoicon{position:absolute; bottom:5px; right:0;}
