


/* Project Title */
h1 {
  color: #80ffaa;
  font-size: 4em;
  text-shadow: 4px 2px 4px rgba(100, 100, 100, 0.4);
  text-align: center;
}

h1 span {
  color: #ff8080;
  text-shadow: 4px 2px 4px rgba(255, 0, 0, 0.4);
}

h2 {
  color: #91b8d4;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 40px;
}

h2 a {
  color: #ff8080;
}


/* Circle Timer */
.circle-clock {
  text-align: center;
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 60%;
  border: 5px solid #fff;
  box-shadow: 1px 1px 20px #ccc;
  overflow: hidden;
  cursor: pointer;
  background: #ff8080;
  /* margin-bottom: 10px; */
  
}
.clock-time {
  font-size: 3em;
  text-align: center;
  top:32%;
}
.status {
  font-size: 1.5em;
  margin-top: -40px;
}
/* Time Setters */
.break-setter,
.work-setter {
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-size: 1.0em;
  font-weight: 300;
  width: 240px;
  min-height: 100%;
  max-width: 100%;
  padding: 10px;
  background: #91b8d4;
  border: 5px solid #80ffaa;
  border-radius: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
  margin-bottom: 30px;
}

.break-setter p,
.work-setter p {
  font-size: 2em;
  margin-top: -5px;
  margin-bottom: 10px;
}

.break-setter {
  float: left;
  margin-left: 100px;
}

.work-setter {
  float: right;
  margin-right: 100px;
}









/* Media Queries */
@media screen and (max-width: 315px) {
  .title {
    font-size: 3.2em;
    line-height: 0.8;
  }
  h2 {
    line-height: 1.1;
    padding-top: 10px;
  }
  .footer {
    margin-top: 50px;
  }
  .footer ul {
    padding-top: 10px;
    margin: 0px;
  }
  .footer ul li {
    width: 100%;
    margin: auto;
  }
  .footer .fa {
    font-size: 1.0em;
    padding: 8px;
    margin: 2px;
    width: 25px;
    height: 25px;
    line-height: 1.2;
    display: inline-block;
  }
}

@media screen and (max-width: 650px) {
  .title {
    line-height: 0.8;
  }
  .circle-clock {
    width: 200px;
    height: 200px;
  }
  .clock-time {
    font-size: 2.6em;
  }
  .space {
    float: center;
  }
  .setters {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .break-setter,
  .work-setter {
    margin: auto !important;
    margin-bottom: 20px !important;
  }
  .footer {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 850px) {
  .circle-clock {
    width: 90px;
    height: 90px;
  }
  .break-setter,
  .work-setter {
    font-size: 0.8em;
    width: 200px;
    height: 100px;
    margin-top: 30px;
  }
  .break-setter p,
  .work-setter p {
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .break-setter {
    margin-left: 50px;
  }
  .work-setter {
    margin-right: 50px;
  }
 
  .footer {
    margin-top: 350px;
  }
  .footer .fa {
    font-size: 1.0em;
    padding: 8px;
    margin: 2px;
    width: 25px;
    height: 25px;
    line-height: 1.2;
    display: inline-block;
  }
}
#clockTime h3{
    display: block;
    font-size: 27px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
	color:#fff;
}